[2015-02-12 01:44] simonv3 opened #1 "For now just a link to Lanyrd?"
For example: http://lanyrd.com/topics/open-source/

[2015-03-02 08:33] garrett commented on #1
For work, we had the need to track several events and talks from multiple conferences, so I wrote an event format and some calendaring software to handle it all, as there really wasn't anything that fit our needs (and I searched all over the place before writing something).

Data & docs: https://github.com/OSAS/rh-events/

Resulting site: http://community.redhat.com/events/

It outputs events in h

[2015-03-02 09:11] lewisnyman commented on #1
Lanyrd++

[2015-03-02 09:44] flexbox commented on #1
:+1: This is a great news !

[2015-03-16 11:19] simonv3 commented on #1
Looks like this is for our own events :)

[2015-03-16 11:19] #1 closed, assigned to nobody

[2015-03-16 17:04] jancborchardt commented on #1
Yup – we can add any open source design related events though! If you give a talk about it anywhere, for example. :)

[2015-04-20 06:06] Xaviju opened #8 "I meeting summary"
I really wanted to attend the planning meeting yesterday on video chat but it was impossible. I would like to know the future plans and how to contribute to the community.
There will be a meeting summary?

Thanks!

[2015-04-20 07:33] simonv3 commented on #8
:+1: There should be, if it ended up happening. @Xaviju, a lot of the conversation happens in IRC. Have you had a look there? (We're still trying to figure out a way to make that a bit more accessible, but for now, you can access it through [the freenode webchat](https://webchat.freenode.net/?channels=opensourcedesign)).

You can also see the logs of the channel [on botbot](https://botbot.me/freen

[2015-04-20 07:59] Xaviju commented on #8
Thanks @simonv3 i didn't have a look at the IRC channel (there is a lot of info here and there and its hard to summarize it all for newcomers) but I will.

Thanks for the links!

[2015-04-20 08:03] simonv3 commented on #8
I totally agree with the scattered info.

@bnvk @jancborchardt Maybe we could turn the first meeting notes into a website, and publish that website?

I'll probably have some time this weekend to work on the job board as well.

[2015-04-20 08:51] Xaviju commented on #8
I can help with a notes website (something like a release notes website made with a simple static site generator?). Probably something like this should be linked to a more relevant website, not sure if there is any plan already.

In both cases, I'll be happy to help :smile:

[2015-04-20 09:22] simonv3 commented on #8
I think that's exactly the plan. If you submit a PR for this repo I'm sure we'll accept it!

[2015-04-20 09:35] Xaviju commented on #8
What do you think about using [pelican](http://docs.getpelican.com/en/3.5.0/) to create a static notes site that regenerates every update (on commit hook) and publish automatically to github pages?
Example: [my blog code](https://github.com/Xaviju/blog)
Any other idea? Preferred static site generator?

[2015-04-20 09:55] bnvk commented on #8
@Xaviju heya yes your helping generating a static site would be greatly appreciated. As was being said IRC, we're using Jeykll, which I think is pretty similar to Pelican. My ultimate goal is to have the root site `opensourcedesign.github.io` and the smaller sub repos like `/events` all share a similar style of navbar and such, but I haven't figured out the exact best way to do this... we could go

[2015-04-20 10:02] Xaviju commented on #8
Thanks @bnvk! :+1:
Sounds nice, are there any design guidelines so far for the site and sub repos?

[2015-04-20 10:24] bnvk commented on #8
@Xaviju not yet, as no one has taken inniative to kick it off. We're plannong on using the icon the rad @designopen folks made as per [this thread](https://github.com/DesignOpen/designopen.github.io/issues/211)

I sketched out rough "architecture" I was thinking for the main [opensourcedesign.net](http://opensourcedesign.net) homepage in ![this image](https://raw.githubusercontent.com/opensourcede

[2015-04-21 06:00] Xaviju commented on #8
Nice, this is getting a little bit off-topic here so I leave this issue open until we have a notes page with this meeting summary entry. I'll open a new issue about the site with Jekill and assign it to myself.

Thanks!

[2015-04-21 06:03] Xaviju opened #9 "Create a simple event notes page"
From issue https://github.com/opensourcedesign/events/issues/8

So we need a simple notes static website created with Jekill (as said in previous conversations) to write notes about open source meetings and events.

[2015-04-21 09:10] jdittrich commented on #9
+1

[2015-04-21 09:26] bnvk commented on #9
@Xaviju sounds like a good approach for this task :)

[2015-04-21 09:32] Xaviju commented on #9
If you know about other pages that could be a source of inspiration for this task (I'm thinking of something really clean and readable (think **Medium** but less blog-gish).
Links and ideas are welcome!

[2015-04-21 10:22] simonv3 commented on #9
^ this is why we need some sort of communal inspiration board I think that goes beyond just our resources. @Xaviju how do you feel about using pinterest (or a similar, open source, tool) for this?

[2015-04-21 10:42] Xaviju commented on #9
I've been searching for an open source tool for this tasks, but I didn't find any of them. I suggest, if there is no open source tool available, to use **concept.ly** as an alternative of pinterest (i don't like pinterest, to be honest).
I can share a link here so users can see the screens, navigate through them, and give feedback.

A test example from concept.ly: https://app.concept.ly/home/share

[2015-04-21 11:47] plastelina commented on #9
here are few ideas(also depends on what exactly would you like to build and what functionality it will serve-mood board, task board, or concept board that will be used by both parties to design and comment, update, or just create inspirations...)
https://zeplin.io/
http://alternativeto.net/software/pencil-project/
https://layervault.com/
http://www.myyna.com/
http://board.cubettech.com/

and final

[2015-04-21 13:01] Xaviju commented on #9
@plastelina Nice! There are some tools I didn't know. :)
I think the idea is a **concept board** "that will be used by both parties to design and comment, update, or just create inspirations...)"
The thing is that I am not sure if the Pinboard style is the better for this task but I am open to use them if you think its better option. I would like to use something like concept.ly or invision, but o

[2015-04-21 13:43] simonv3 commented on #9
There's a couple of tools there that look like they're what we need (and the need has come up before https://github.com/opensourcedesign/job-board/issues/26), so maybe it makes sense to install an inspiration board tool on someone's server that people can use?

@Xaviju I'm intrigued in how you'd use invision or conceptly for this kind of thing (just gathering ideas). Would you post each thing indi

[2015-04-22 21:21] Xaviju commented on #9
@simonv3 I'm not sure, I was thinking more of a tool that we can use for everything.
For gathering ideas and discussion the feature I like is the possibility of add comments in areas of the screen. I use it in my work to ask my colleagues what they think about some ideas, and then we discuss about the details in the tool. Later on, we could also discuss a mockup or design, before it gets actually

[2015-04-25 16:21] simonv3 commented on #9
Hey @Xaviju, @jancborchardt just took some time to put together the main website design. It's simple and straightforward. Have a look here - http://opensourcedesign.net/, the idea being that all sub-sites should try to follow the same template, just to keep a coherent theme across the network of opensource sites.

Obviously we're open to changes to the design as well, but thought I'd let you know!

[2015-04-25 16:48] Xaviju commented on #9
@simonv3 great! I was thinking in something quite similar! I will follow same styles, I love its simplicity and readability.

One last thing: If we make a PR to the main site to edit its styles or layout, and this becomes a part of the main website, same updates in the code should be done to both repos, right? To keep coherence.
That sounds like its going to be hard to keep same styles across the

[2015-04-25 17:04] simonv3 commented on #9
Yeah, it’ll be a bit hard to maintain. What I’ve done for the `jobs` repo is to reference the main website styles directly in the `<head>` part, which is one less thing. Have a look at that repository to see how I did both the header file and the head file. (There’s references to the actual project name as well as the links.

What we want is the compiled version of those files, not the liquid temp

[2015-04-29 17:32] Xaviju commented on #9
Maybe its a little late (I've read the site merge discussion in organization) but I commited the events page we talked about in the branch gh-pages. https://github.com/opensourcedesign/events/tree/gh-pages

[2015-04-29 17:40] bnvk commented on #9
@Xaviju not at all late, we just got the site up 3 days ago... That is AWESOME :+1: thank you so much!

I'll add a link to the main page to it

[2015-04-29 17:40] #9 closed, assigned to Xaviju

[2015-04-29 17:42] bnvk commented on #9
@Xaviju however, upon clicking on the title of event it goes to a 404 page. It looks like it's routing the wrong URL structure from the Jekyll data. Will investigate!

[2015-04-29 17:43] Xaviju commented on #9
I tried to copy the work previously done in the other pages (as job listing), sorry if something is wrong. Don't hesitate to ask me to change something :+1:

[2015-04-29 17:59] jancborchardt commented on #9
@Xaviju dude, awesome stuff! :) Getting more and more valuable sections up on the site!

[2015-04-29 18:02] jancborchardt opened #11 "Make gh-pages default, move remaining master content over, then delete?"
@Xaviju to make it simpler it would be good if we only use one branch, in this case gh-pages. Can you copy the remaining content of the master branch over?

cc @bnvk

[2015-04-29 18:15] Xaviju commented on #11
Sure!

[2015-04-29 19:27] bnvk opened #13 "Render "Past Events" differently than Upcoming or Current Events"
On the main http://opensourcedesign.net/events/ page, I think we should show past events as a simple one line entry instead of the whole blurp as this list could get looooooong!

[2015-04-29 19:48] Xaviju commented on #11
@bnvk looks like you already moved and deleted it?

[2015-04-29 19:57] jancborchardt commented on #13
Yup, totally agree. Header to separate and single line only.

[2015-04-29 21:13] jancborchardt commented on #11
Um @bnvk you just replaced what was on master (like your image and my writeup) with what was on gh-pages. So the other way around :\

[2015-04-30 08:11] bnvk opened #15 "Use Jekyll metadata instead of custom defined date / time data in events"
As @jancborchardt @simonv3 chat here https://github.com/opensourcedesign/events/pull/14 I fully agree  and thought the same thing and am creating an issue as such!

[2015-04-30 08:20] Xaviju commented on #15
:+1: Agree!

[2015-04-30 14:32] jancborchardt commented on #11
@bnvk so do you not want the stuff which was in here: https://github.com/opensourcedesign/events/tree/64f814c702e1b098b0bd11769f419dfcfc053527/2015-03-15%20Berlin%20Open%20Source%20Design%20meetup after all? We should add it to the events repo or somewhere, no?

After that we can remove the master branch.

[2015-04-30 15:04] bnvk commented on #11
@jancborchardt  ack, no, I didn't mean to do that. Thanks for catching it.

[2015-09-01 23:19] simonv3 commented on #11
What's the status of this?

[2015-09-01 23:22] simonv3 opened #21 "IxDA 2016 - Helsinki"
IxDA submissions close on September 15th. It's in Helsinki. If any of you europeans want to go and represent OSD that would be great.

Conference Site:
http://interaction16.ixda.org/

IxDA:
http://ixda.org/

Email Announcement:
http://us2.campaign-archive1.com/?u=e714c585710f24c2743e2cb29&id=c16aa91d1f&e=4e3854aa38

[2015-09-04 06:50] jancborchardt commented on #11
@bnvk is everything you need on gh-pages? Can you make sure and then remove master?

[2015-09-13 17:58] elioqoshi commented on #21
Thanks for the headsup, I am going to apply tomorrow! :)

[2015-09-15 19:11] elioqoshi commented on #21
Applied here with my "Overcoming your designer ego in an open source project" talk.
A bit of scared, the quality of the conference seems to be tremendously high :D

[2015-10-06 10:39] belenbarrospena opened #22 "FOSDEM 2016 Open Source Design devroom"
Just realised today that the deadline for devroom proposals is October 9th. So we better get moving!

Below is a proposal draft. Please comment / amend as you see fit:

Title of devroom:
Open source design

Elaborate description of proposed devroom (including possible topics):
The first open source design devroom last year was a success, with a healthy number of proposals submitted and great atten

[2015-10-06 11:19] plastelina commented on #22
@belenbarrospena , my only concern is that this message is on github, where it won't reach many designers...maybe it's worth to also drop it on few design forums / twitter to actually make designers aware, last year there were... 5 designers in the room (?)...what's the point of pitching, if there is none to pitch too...

I think the topics are great!
I'd love to talk about engineering collaborati

[2015-10-06 11:44] ei8fdb commented on #22
If needs be I can do a blog post like last year with pointers to where to go, IRC channel, etc and put it on the twitters to direct people?

http://www.ei8fdb.org/thoughts/2014/10/fosdem-2015-call-for-papers-on-open-source-design/

Bernard

[2015-10-06 12:23] plastelina commented on #22
This is awesome job! Thanks!!! :+1:

[2015-10-06 13:15] belenbarrospena commented on #22
@plastelina if the devroom proposal is accepted, the call for talks should come out on November 2nd, according to the FOSDEM website

https://fosdem.org/2016/news/2015-09-24-call-for-participation/

That's when you would submit your proposal :)

[2015-10-06 13:35] plastelina commented on #22
Yup, read your post @belenbarrospena  ;).

[2015-10-07 08:40] evalica commented on #22
Regarding the last year success, should we mention somewhere that a git organization and a website has been put into place? Having the devroom again next year will increase our chances in expanding the community and allowing more developers know that there is a place where they can get design help.

Yes, excellent point. What about something like this:

<blockquote>The first open source design dev

[2015-10-09 09:02] belenbarrospena commented on #22
Right folks: submission for the Open Source Design devroom at FOSDEM 2016 has gone out. I've put myself as the main contact, and Bernard Tyers (@ei8fdb) as the secondary one. If anybody will like to be kept up to date, just send me an email address and I'll keep you posted, although I will keep updating this thread as things happen. Acceptance notifications are supposed to get out on October 19th.

[2015-10-09 09:18] plastelina commented on #22
This is fantastic! Thank you for putting this together! Ace! :+1:

[2015-10-09 09:20] Xaviju commented on #22
Great! Love it! Thanks a lot for the proposal!

[2015-10-09 11:13] evalica commented on #22
I looks great! Good job ;)

[2015-10-11 02:18] jancborchardt commented on #22
Aaawesome! :) Thanks for leading that effort again @belenbarrospena!

[2015-10-19 11:28] belenbarrospena commented on #22
Hi all,

The call for stands at FOSDEM is also open
https://submission.fosdem.org/stands.php

Deadline is November 13th.

A stand would seem to me the most logical way of setting up the "design helpdesk" or "clinic". Unfortunately, I've volunteered to manage the OpenEmbedded stand this year, and the design devroom, so I have my hands full and I don't think I can take anything else.

If anybody wou

[2015-10-19 12:59] ei8fdb commented on #22
Hi all,

I’d be willing to submitting the design stand application if someone else wants to co-organise.

I’ll be helping out in the devroom too so won’t be able to spend all day on the stand as
well.

If not, how about we do an ad-hoc design desk each day for 1/2 a day, morning or afternoon? I could do 1-2 hours each day.

Any takers?

Bernard

---

Bernard Tyers
E: ei8fdb@ei8fdb.org | T: @bernar

[2015-10-19 22:15] jancborchardt commented on #22
I’m up for assisting with the design stand, but I’ll be helping out in the devroom also and need to be at the ownCloud booth as well.

Who wants to take the helm on the design stand? @evalica @Xaviju @plastelina maybe?

[2015-10-20 05:51] Xaviju commented on #22
I'll be happy to help, but I also should probably stay at the [Taiga](https://github.com/taigaio) stand so I think 1-2h each day is fine. If we are not enough, I agree with the @ei8fdb idea of 1/2 day.

[2015-10-20 08:07] plastelina commented on #22
Helloh! Sure thing - happy to help. I can take a lead on this. Can we do half day, consultation, pretty please?
I can mostly help with print, identity and UI design in terms of advise. I can prepare large poster that will say Design Clinic with the current logo and some stickers / pencils ( can get it sorted for free)? I'm free Monday-Tuesday (26-27/10), will login into IRC to chat in more detail.

[2015-10-20 14:59] gillisig commented on #22
I would love to come and help out. But unfortunately I am not sure I can justify the expense to travel there, since it would be coming out of my own pocket :/

[2015-10-22 09:07] belenbarrospena commented on #22
Well, we made it! :) Got an email this morning notifying the acceptance of the Open Source Design devroom for FOSDEM 2016. They have scheduled us for Saturday this year.

They will be sending instructions soon. Next step for us should be putting together a call for session proposals.

[2015-10-22 09:16] belenbarrospena commented on #22
A couple of more messages:
1. FOSDEM keeps a mailing list for devroom managers. If you want to be subscribed to that mailing list to keep up to date with organisation news, let me know.
2. We have a mailing list for our devroom: open-design-devroom@lists.fosdem.org
   To subscribe, go to

https://lists.fosdem.org/listinfo/open-design-devroom

[2015-10-22 11:37] jancborchardt commented on #22
@belenbarrospena aaaawesome! You can also set me as devroom manager and subscribe me to the first list.

[2015-10-22 12:40] belenbarrospena commented on #22
@jancborchardt Will do :) Which email address do you want me to give them?

[2015-10-22 21:05] jancborchardt commented on #22
My hey at jancborchardt one. :)

[2015-10-23 03:58] GarthDB commented on #22
Congrats!

[2015-10-23 09:30] belenbarrospena commented on #22
@jancborchardt Got it. I've asked them to subscribe you.

[2015-10-24 12:55] belenbarrospena commented on #22
So, time for a call for proposals (CFP). I have repurposed the one from last year because I am lazy ;)

I am assuming we are sticking to the same format: 45-min talks with 15 mins for transitions. This is quite a lot of time, but to be honest, I found it nice last year. It makes for a relaxed devroom, where talks can run over a bit, and there is plenty of time for people to leave and come into the

[2015-10-24 20:43] jancborchardt commented on #22
I would actually say we cut the talk time in half because 45 minutes I felt was too long. I liked this a lot at Libre Graphics Meeting where it ensured that more projects were presented and people got less bored.

20 minutes should absolutely suffice to present, and then we have 10 minutes between each talk for transitions and maybe questions. Although most questions are better to be talked about

[2015-10-25 13:21] belenbarrospena commented on #22
<blockquote><p>I am assuming we are sticking to the same format: 45-min talks with 15 mins for transitions.</p>
<p>I would actually say we cut the talk time in half because 45 minutes I felt was too long. I liked this a lot at Libre Graphics Meeting where it ensured that more projects were presented and people got less bored.
20 minutes should absolutely suffice to present, and then we have 10 min

[2015-10-26 17:57] belenbarrospena commented on #22
asheesh in the irc channel said he also likes the shorter format (20-10). Just making a note of it for posterity :)

[2015-10-27 10:00] belenbarrospena commented on #22
Since the people who spoke up preferred the 20 minute format, that's what we are going with.

I've submitted a pull request to the events repo to add the CFP
https://github.com/opensourcedesign/events/pull/23

Could someone review and merge if ok?

Thanks!

Belén

[2015-10-27 11:05] jancborchardt commented on #22
Done, good stuff! :)

[2015-10-27 11:24] belenbarrospena commented on #22
thanks @jancborchardt !

[2015-10-27 13:22] belenbarrospena commented on #22
So the CFP is out
http://opensourcedesign.net/events/design/hack/meeting/2016/01/30/opensourcedesign-fosdem.html

Please spread the word, far and wide :)

[2015-10-30 13:10] evalica commented on #22
Sorry for the late response. So any news on the design stand? Unfortunately I won't be able to stay full time there since I also need to participate in the Wikis stand. I could stay 2 hours there. Let me know if there are news. Ty

[2015-10-30 13:22] ei8fdb commented on #22
I think unless we can get 4-6 people who can give 2 hours each it won’t be possible.

Can we have a show of hands? Say 10AM (move the times as you see fit) who can take slots:

10:00-11:00:
11:00-12:00:
12:00-13:00: Bernard
13:00-14:00: Bernard
14:00-15:00:
15:00-16:00:
16:00-17:00: Caty (evalica)
17:00-18:00: Caty (evalica)

Any takers?

[2015-10-30 13:36] evalica commented on #22
I've edited your response with slots from 16-18.

[2015-10-30 14:02] plastelina commented on #22
I can cover whole day, so there are always two people.

[2015-10-30 20:34] ei8fdb commented on #22
Thanks @plastelina thats good news.

@belenbarrospena also had an idea: why not do the design desk on Sunday? That way the design track is finished and we'd all have more time...

Thoughts?

[2015-10-31 09:02] jancborchardt commented on #22
Yeah, so the design desk should definitely not be on the same day as the room. I was under the impression that was the plan anyway? I think we only said Saturday for the design desk because last year the room was on Sunday?

[2015-10-31 09:35] belenbarrospena commented on #22
This year the design devroom in on Saturday, so the design desk would be Sunday. I also think it's much better if we do it only the day we don't have devroom. We can publicise the activitity during the devroom on Saturday. If we go for Sunday, I should be able to put in 2-4 hours.

Boy, this is going to be loads of fun :)

[2015-11-03 10:37] belenbarrospena commented on #22
Just FYI, we have been allocated room AW1.120. This might be the same room we had last year (at least is the same building). The room seems to fit 74 people (it's a small room). Nothing we can do about it really. It will be cozy ;)

[2015-11-22 21:09] belenbarrospena commented on #22
Hi all,

Wondering if any of you would give me a hand spreading the word about the Open Source Design Devroom. Something like sending an email to the mailing lists / projects you are involved with, or using Twitter, Facebook, whatever you like :)

So far, I've sent emails to the these mailing lists:

BCS-HCI (BCS-HCI@jiscmail.ac.uk)
LibreOffice design (design@global.libreoffice.org)
Firefox OS dev

[2015-11-23 13:30] jancborchardt commented on #22
Also, all the folks from here should probably submit something! Calling @bnvk @plastelina @GarthDB @Xaviju @elioqoshi @evalica @danilapellicani @gillisig @simonv3 and everyone :)

[2015-11-23 13:34] belenbarrospena commented on #22
Yes, that too! :) Thanks, @jancborchardt

[2015-11-23 14:14] bnvk commented on #22
I don't have the bandwidth to put together a proposal and a talk.
But hopefully one of you fine folks will and then I can attend
and participate in the dev room :)

[2015-11-23 18:05] elioqoshi commented on #22
Already proposed a talk :)

[2015-11-23 18:07] GarthDB commented on #22
A little too close to my wife's due date to be travelling out of the country.

[2015-11-23 18:21] belenbarrospena commented on #22
Congrats @GarthDB ! That's a fairly good excuse ;)

[2015-11-23 18:22] GarthDB commented on #22
@belenbarrospena thanks! If they would just rearrange the whole event around my schedule that would be super convenient.

[2015-11-24 09:17] Xaviju commented on #22
Hi! I've been extremely busy and I've unable to read tons of emails in my inbox (that's great!). I did not proposed a talk but I would like to share what I would love to hear: a talk about how an open source project manages open source design PRs and sometimes PRs that fixes issues but breaks design.
- What is the workflow to keep it consistent?
- How they manage it?
- How is the interaction with

[2015-11-24 11:34] belenbarrospena commented on #22
@Xaviju You are still on time to propose a talk, and I think you really should. I have my own way of dealing with all those things, but like you I have more questions than answers, and I suspect so do many others in this group. The point of these talks is sharing the little answers we have individually, so that they might answer the group's questions... or something along those lines but less conf

[2015-11-24 12:02] jancborchardt commented on #22
Yeah @Xaviju @bnvk the talks are only 20 minutes, so it would be great that even if you can’t prepare a bunch of slides to just for example share how you do design work in your projects. :)

[2015-11-24 12:05] elioqoshi commented on #22
I might submit another session. I did this screencast tutorial for SitePoint lately:
https://www.sitepoint.com/premium/screencasts/logo-thumb-rules

Would you think it makes sense to show it and I elaborate further on the techniques I've used?
I only used open fonts in my logos

What do you think?

[2015-11-24 22:37] ei8fdb commented on #22
Hi all,

I’ve already sent the CFP to the following lists:

Tor UX List ux@lists.torproject.org
The Guardian Project List guardian-dev@lists.mayfirst.org
Liberation Tech liberationtech@lists.stanford.edu
Gimp UX List gimp-gui-list@gnome.org
VLC Developers for Android android@videolan.org
GNOME Design community <sent to the design community people>
ADIUM <sent to the project leaders>
UK Government

[2015-11-25 10:36] belenbarrospena commented on #22
@ei8fdb Thanks for that!

@elioqoshi I would submit it. Last year there were lots of developers in the room. They might benefit from this type of content. And me, being an interaction designer and knowing pretty much nothing about logo design, would learn a lot too :)

[2015-11-25 13:43] jancborchardt commented on #22
@elioqoshi yeah, you should totally give a talk about your logo design! :)

[2015-11-26 21:19] danilapellicani commented on #22
dang the deadline is  tomorrow :o
I think I will attend but I have no time to prepare a talk :/

Danila Pellicani
D https://www.linkedin.com/in/danilapellicanio
https://www.linkedin.com/in/danilapellicani / Make
http://www.danilapellicani.it/ / Say https://twitter.com/danilapellicani

On Wed, Nov 25, 2015 at 2:43 PM, Jan-Christoph Borchardt <
notifications@github.com> wrote:

[2015-11-26 21:24] belenbarrospena commented on #22
@danilapellicani: the deadline is not until the 1st, so you still have time! :)

And in any case we'll have to extend it because we have only 4 proposal so far :/ I'd say we can push it until December 8th. If nobody is opposed, I will probably announce the extension tomorrow evening.

[2015-11-27 08:06] jancborchardt commented on #22
Everyone who thinks they do not have time to prepare a talk now: submit a title only and add the abstract later. That's possible right @belenbarrospena?

Each person who is in this org and at FOSDEM should share their work in the devroom, don't be shy or think you have too little time. :)

[2015-11-27 09:13] elioqoshi commented on #22
@jancborchardt how about if we create a panel to discuss about x topic? Several of us could join on stage for the conversation

[2015-11-27 10:41] jancborchardt commented on #22
@elioqoshi yeah, that would be cool. We could do several short panel discussions, each 20 minutes or depending on how much gets filled with the talks we can even do the panels for 40 minutes. Maybe something like:
- Designers & developers: Finding the right communication channels and tone
- Barriers for designers getting involved in open source and what we can do to ease the process
- Barriers for

[2015-11-27 11:05] elioqoshi commented on #22
Awesome! Let's make sure we get some chairs for the panel :P
Can we be a bit spontaneous about this or do we need to plan everything in beforehand?

[2015-11-27 11:52] belenbarrospena commented on #22
these are all great ideas, but I think we need to plan, but maybe only a little bit ;)

If you could get these ideas submitted to Pentabarf, even if just with a 2-line description, that would be enough for us not to forget about them, make sure they are added to the program, and assign people to be responsible for them, so that they happen on the day.

How does this sound?

and yes, as @jancborcha

[2015-11-27 11:58] jancborchardt commented on #22
@belenbarrospena @elioqoshi I’ll submit placeholder items for what I just mentioned, the panels and the live-job-board thingy. @elioqoshi feel free to submit more panel topics. :) We can then decide what we want to do when all is in.

[2015-11-27 12:05] belenbarrospena commented on #22
Also, before I forget, I'll be sending a deadline extension announcement this evening / tomorrow morning. I think we should be able to extend until the 8th, which gives us 10 days to do the review and put the programme up in the FOSDEM website.

If anybody has any concerns, please let me know before this evening.

[2015-11-27 14:05] jancborchardt commented on #22
Should all be submitted from my side. @belenbarrospena was there an admin interface or such to see all the submissions to our devroom?

[2015-11-27 14:10] belenbarrospena commented on #22
@jancborchardt

https://penta.fosdem.org/report/review

If you have been given access. If you haven't let me know. I can ask the organisers to set you up as a devroom coordinator in Pentabarf. If you are subscribed to the devroom-managers mailing list, you can even ask them yourself! :)

[2015-11-27 14:12] belenbarrospena commented on #22
@jancborchardt I can see your submissions in that report by the way.

[2015-11-29 17:03] jancborchardt opened #26 "Page link too long"
The link for an event looks like this: http://opensourcedesign.net/events/design/hack/meeting/2016/01/30/opensourcedesign-fosdem.html

At least this section with design/hack/meeting (the tags?) is way too much. Ideally even the date is not needed.

[2015-11-29 20:14] simonv3 commented on #26
This is the same for articles. What it's doing is it's putting all the categories in the URL. This isn't really what we want I think.

[2015-12-04 20:45] elioqoshi commented on #22
@belenbarrospena and co. Mozilla is sponsoring me, but they would like to ask if my sessions have been approved. Would it be possible to get a confirmation on this, or is it still too early?

[2015-12-07 11:03] belenbarrospena commented on #22
@elioqoshi Submission deadline is end of day tomorrow and I am planning to send the sessions for review this week. Until then, I am not sure I can tell you for sure they are accepted (although there is a very good chance they will be). Can you wait? Or do they need an answer now?

[2015-12-07 11:24] aoloe opened #27 "Libre Graphics Meeting 2016"
http://libregraphicsmeeting.org/2016/call-for-participation/
## Call for participation
### Other Dimensions

The eleventh annual international Libre Graphics Meeting 2016 will take place Friday 15th until Monday 18th April 2016 in London, UK. This yearly event is an occasion for teams and individual contributors/artists involved in Libre Graphics to work together, to share experiences and to hear

[2015-12-07 11:45] jancborchardt commented on #27
@aoloe great! Already retweeted it from the [@opensrcdesign twitter](https://twitter.com/opensrcdesign) as well. :)

Can you also add the event to the events directory by putting it here? https://github.com/opensourcedesign/events/tree/gh-pages/_posts

[2015-12-07 11:47] jancborchardt commented on #22
@belenbarrospena are we good with session proposals btw? Or should we do another round of advertising them?

And I assume the process will be the same for getting them approved, just by voting process again?

[2015-12-07 11:54] belenbarrospena commented on #22
@jancborchardt We have 18 sessions submitted right now, which means we have enough content. But it can't harm to shout a bit if you can :) Deadline is tomorrow end of day.

Review can be done like last year. I will export all submissions to a spreadsheet, circulate it around, then anybody can review them and vote (yes / no) and we take the proposals with more votes. Does that sound ok?

[2015-12-07 12:18] aoloe commented on #27
made a PR for the event...
questino: do you have a format for supporting the call for participation?

[2015-12-07 12:29] jancborchardt commented on #22
@belenbarrospena great stuff! I’m messaging a few more people as well.

[2015-12-07 13:33] belenbarrospena commented on #22
@jancborchardt thanks!!

[2015-12-09 20:11] belenbarrospena commented on #22
The CFP for the Open Source Design devroom closed on December 8th 2015. So it is review time!

Anybody can review the proposals (in fact, the more reviewers, the better). The process is very easy. This is what you need to know:

1) We can fit a maximum of 17 sessions (20-minute presentations with 10 minutes for transitions, starting at 10:30 and closing at 19:00).

2) All proposals are in this Goo

[2015-12-09 21:23] jancborchardt commented on #22
@belenbarrospena if we can fit 17 then it’s easy: I’ll just retract my proposals for »Panel: Barriers for designers getting involved in open source« and »Panel: Finding the right communication channels and tone between designers & developers« since these topics are already being tackled by other talks. They were mostly idea proposals anyway. :)

[2015-12-10 09:01] evalica commented on #22
So we still vote or not? Another process of elimination would be to make sure the same presenter doesn't have more than 2 presentations for example (or ask if willing).

Regarding the voting process I guess we could have taken a column each, instead of copying and spreadsheet and send it offline. Depends if we want to have private votes or not. I don't have any problem having a transparent vote.

[2015-12-10 10:47] belenbarrospena commented on #22
Right: this is going to be a bit harder than last year :/

@evalica Yes, having a column per reviewer was another option. I didn't go for it because I believe reviews are better when blind (no author information) and anonymous (no reviewer information). I thought having to copy and paste / download the info in the spreadsheet would be a small price to pay in exchange for privacy and anonymity. I a

[2015-12-14 12:10] elioqoshi commented on #22
Love your idea Belen, if we can do that let's go with it!

[2015-12-15 09:21] belenbarrospena commented on #22
Thanks for chipping in @elioqoshi

I am just trying to get a bit more feedback from other folks who have been involved, and then I will start publishing the schedule and notifying the speakers.

By the way, the schedule can change, so we can still move things around if needed.

[2015-12-15 10:50] evalica commented on #22
A. Regarding the topic of combining sessions: 1, 13, 16, 17, 10
- I really think that 1 and 16 are 'duplicates' so they should be definitely combined.
- Regarding 17, the topic is a bit too focused on communication so this could be integrated in other presentation. Has similarities with 7.
- 13 should get a whole slot since knowing how to contribute, where and when IMO is very different than the i

[2015-12-15 17:37] elioqoshi commented on #22
@belenbarrospena and co.
It would be great if the talks could be approved by this week (or at least my talks) as I need to proceed with my sponsorship by Mozilla. It's getting a bit late and I need to get this going if I want to come to FOSDEM.

[2015-12-16 10:50] belenbarrospena commented on #22
@evalica Thanks for the summary. It's really helpful!

@elioqoshi Yes, that's the plan. A provisional schedule needs to be up by Friday, so I am hoping to send speaker emails and have the schedule by the end of this week. I will send the emails first, since in your case is becoming urgent.

Cheers

[2015-12-16 12:42] belenbarrospena commented on #22
Hello all,

Finally, I think I have a proposal for the devroom content. Hat tip to @evalica for her analysis of the submissions. The final list and order are very much in line with her thoughts.

I have left the morning for projects, tools and techniques, and the afternoon for discussions about the relationship between design and development and how to get designers more involved.

This is not set

[2015-12-16 13:27] elioqoshi commented on #22
Thank you Belen! That looks wonderful!

And sorry if I sounded a bit arrogant and pushing you. Just wanted to make sure I'd not be too late :)

[2015-12-16 13:31] elioqoshi commented on #22
The only thing I might want to pick out (although it might not be a problem) is that @jancborchardt has 2 sessions in a row (17:00 and 17:30) which might be a bit too much to do at once. We should give him a little break maybe? :stuck_out_tongue:

[2015-12-16 14:18] evalica commented on #22
Looks good - thank you @belenbarrospena for taking care of this.
Just curios, do we still have a booth?

[2015-12-16 15:29] belenbarrospena commented on #22
@elioqoshi yes, I saw that poor @jancborchardt ended up with 2 sessions back to back. We could switch "Connecting design students & open source projects" to the 15:30 slot. It's up to him, really. I'll wait to see what he says.

@evalica no, we don't. We decided in the end to camp on a table in the big cafeteria instead, to see what response we get. If people are enthusiastic about it, we could th

[2015-12-16 19:24] jancborchardt commented on #22
I’d say just cut the panel »Getting designers involved in Open Source projects« because it was only a panel proposal anyway. :) I don’t want to hog our room.

Also, the last session »Developers looking for designers? Show off your project!« doesn’t need my name since it’s a collaborative panel of just devs coming up and presenting their project.

[2015-12-17 19:24] ei8fdb commented on #22
Hi all,

Sorry been travelling and busy with work.

I had mentioned to @belenbarrospena about being happy to combine my proposal with @jancborchardt's. It's an important topic that needs to be discussed.

@jancborchardt your proposal of "Getting designers involved in Open Source projects" - I am very happy to have your panel "bleed" into the "How do I contribute" session.

Part of my proposal ment

[2015-12-18 18:59] belenbarrospena commented on #22
Right folks: speaker emails are out, you should have yours :), and the schedule entered in Pentabarf. It will be uploaded to the website automatically at some point during the weekend.

Any questions, changes, etc, let me know.

Cheers

[2015-12-19 03:08] plastelina commented on #22
Hi all,
bad news on my side, well...good for me, not so much for FOSDEM - I've got a contract outside of Europe and I won't be able to make it to FOSDEM this year (which is quite devastating) . I'm still delivering projects as promised - logo, fonts for logo, print version of logo and stickers, will be ready with all of that by Tuesday- sorry had massive and a lot of deadlines running towards fest

[2015-12-21 10:28] belenbarrospena commented on #22
No worries, @plastelina We all have lives to take care of :) Best of luck with that contract, and thanks for taking care of the stickers! That's awesome.

I am not sure about sending them to Brussels: I don't know anybody there who could collect them, and I don't want to bother the organisers, since they probably have enough work already. I'd be happy to bring them with me: it's an easy train ride

[2015-12-21 10:48] belenbarrospena commented on #22
Hollie Lubock, one of the speakers in the devroom, has suggested going for dinner on Friday so that we can get to know each other. I think it's a nice enough idea :) Who would be interested in coming?

Also, any suggestions for places to go?

[2015-12-23 16:55] ei8fdb commented on #22
Hi all,

Should we add the open source design dinner idea to the FOSDEM Fringe events website?

https://fosdem.org/2016/fringe/

[2015-12-23 17:04] belenbarrospena commented on #22
@ei8fdb Looking at the events there, I am not sure a dinner fits in. Also, it seems to me that we kind of need to manage the numbers. We need to know more or less how many people are coming to the dinner in advance, so that Hollie Lubock, who very kindly agreed to organise it, can book the restaurant. Also, if we end up being 40 people, it will be hard to find a place. So, no?

[2015-12-23 20:42] ei8fdb commented on #22
On 23/12/2015 17:04, Belen Pena wrote:

[2015-12-27 23:05] ei8fdb opened #30 "FOSDEM 2016 - collaborating on session "How do I contribute to FOSS""
Hi all,

Happy Christmas/holidays/Hanukkah or just generally late December. :)

A few people proposed sessions which were very similar to the "how do I contribute to FOSS/how do I get designers interested in my project/how do I get developers interested in my design work" theme.

I suggested a proposal called how do I contribute. It is a panel made up of designers, researchers, and developers who

[2015-12-29 07:44] jancborchardt commented on #30
@ei8fdb I’d be in for sure! Would also be cool to get someone who is mainly a developer / project maintainer, and also a designer with very little technical background. That way we can cover many angles.

[2015-12-29 09:29] belenbarrospena commented on #30
@ei8fdb It might be a long shot, but maybe one of the engineers in my office, who have been developing open source for many years, and have also had the misfortune of having to work with me, might be willing to join the panel. I'll ask.

[2015-12-29 18:53] jancborchardt commented on #30
:D

[2015-12-29 22:02] ei8fdb commented on #30
On 29/12/2015 09:29, Belen Pena wrote:

Thanks, please ask him if he's willing to spill the beans.

[2016-01-05 12:30] evalica commented on #30
Some ideas:

1) How to identify what project(s) you want to contribute to
- What are you interested in? Where areas do you want to make contributions to? (Maybe you want to help with medical, astrological, botanical, musical projects = good causes or passions.)
- What projects do you use? (Particularly useful since you are already a target user, know the problems and it's easy to know what new fun

[2016-01-05 18:12] simonv3 commented on #30
Thanks for that awesome list @evalica. Maybe some point in the future we could clean it up and write it as an article?

The format reminded me of this talk: https://shaunagm.github.io/personal/pycon2015.html#/

[2016-01-05 22:29] jancborchardt commented on #30
Btw, for finding open source projects for a designer to start anew in, one of the most important aspects is that the project is welcoming to designers. A good place to find a project for that is http://opensourcedesign.net/jobs/ ;) (rather than just looking around randomly on Github etc)

[2016-01-06 10:40] evalica commented on #30
@simonv3 Great slides - I didn't know about that talk and there are very interesting stuff listed. Regarding the article idea maybe we could transform the majority of talks we have at FOSDEM as articles on the blog, similar to the notes Roy took last year.

@jancborchardt good point ;) we could put that first or last in the 2) point (in case Bernard wants to use some of the ideas).

[2016-01-06 11:45] belenbarrospena commented on #30
@ei8fdb I asked some developers here if any of them would like to join the panel, but looks like most of them will not be at FOSDEM this year, so no luck.

[2016-01-08 17:02] jancborchardt commented on #30
There will also be some other folks from ownCloud at FOSDEM (@karlitschek, @LukasReschke, @jospoortvliet & more?). Maybe one of them would like to participate in the panel as dev working on an open source project with a big focus on design. :)

[2016-01-08 19:27] elioqoshi commented on #30
I'd be happy to talk about my experiences as a volunteer designer at Mozilla if you think that would fit :)

[2016-01-16 12:31] belenbarrospena commented on #22
Hi all,

I was wondering if there are any volunteers to help with the FOSDEM devroom logistics on Saturday morning. I have to set up the OpenEmbedded stand, so I am not sure how much time I am going to have to set up the devroom.

If I remember correctly, the thing involves mainly collecting a box from the organisers and setting up the video, which thankfully will be different than last year (hope

[2016-01-16 19:20] gillisig commented on #26
I agree, it's unnecessary if you ask me. I guess Jekyll does this by default for some reason.

[2016-01-16 20:25] simonv3 commented on #26
I think having the date is fine, though I guess for something like events it's not necessary. The real question though, now that it's there - will it break back-linking?

[2016-01-18 17:48] ghost commented on #22
Alas, I’m not going to make it to fosdem at all :-(

Schedule looks great, have a good one!

Roy

[2016-01-18 21:50] jancborchardt commented on #22
:O @plastelina @yoroy we’ll miss you!

@belenbarrospena I’m down to help in the morning, I’m staying near the venue. @ei8fdb or anyone else, you too?

[2016-01-19 09:45] belenbarrospena commented on #22
@yoroy Sorry to hear :(

@jancborchardt excellent. Thank you so much!

If nobody else volunteers to help, I'll try to get out of the stand set up duties. You will need another pair of hands at least.

[2016-01-19 10:24] jancborchardt commented on #22
Yeah, it would be really good if someone else could join in too, best 2 more people. Not sure yet when and how much I need to help setting up the ownCloud booth as well.

[2016-01-19 20:37] ei8fdb commented on #22
I'll help out in the morning - I'll get the box of stuff from the organisers room. Help with the video streaming might be needed, so another pair of hands would be most welcome.

Of the others going, is anyone available?

[2016-01-20 09:18] belenbarrospena commented on #22
@ei8fdb Thanks!

[2016-01-31 11:21] belenbarrospena commented on #22
We are all done! The open source design devroom at FOSDEM 2016 was bigger, better and more fun than last year. A total success once more, showing the hunger for design in the FOSS community.

Thanks to all the speakers and the people in this thread who made it happen. We'll be back next year.

[2016-01-31 11:22] #22 closed, assigned to belenbarrospena, ei8fdb

[2016-01-31 11:47] ei8fdb commented on #22
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

\0/

Can we get slides from everyone's talks in the github repo so we can
make them public?

I've put mine here:

https://github.com/opensourcedesign/talks/tree/master/fosdem%202016

I'll document it a bit better when I get a chance...

Good idea?

On 31/01/2016 11:21, Belen Pena wrote:

iQIcBAEBCgAGBQJWrfQ/AAoJENwn5lb+RG6iOh8P/21wJlM2cLsD++bA60smbf

[2016-02-02 14:38] dominicrico commented on #26
In jekyll you can set the `permalink` attribute per page. So we can have the event name with dashes as link to the page. And there is also a plugin which is redirecting the old urls to the new ones.
- [Permalink Blog Post](http://joshualande.com/redirect-urls-jekyll-github/)
- [Redirect Plugin Blog Post](http://joshualande.com/redirect-urls-jekyll-github/)

[2016-02-02 17:37] xuv commented on #27
I could see that the PR for the event was accepted. But still the event did not show.
Updated the _config file to show future events. See PR #32

[2016-02-02 18:07] simonv3 commented on #26
@dominicrico setting permalink would be a good idea. Re: plugin we can't do plugins because it's GitHub :P

[2016-02-02 21:29] dominicrico commented on #26
@simonv3  oops, true we are not allowed to used plugins, buuuuut after asking the mighty internet I found out, github has this one pre installed :D
[Github Pages Plugins](https://help.github.com/articles/using-jekyll-plugins-with-github-pages/)

[2016-02-02 22:35] simonv3 commented on #26
Yay!

[2016-02-03 08:11] dominicrico commented on #26
I'm working on it right now. I will update the links for the articles as well!

[2016-02-03 14:05] dominicrico commented on #26
@simonv3, @jancborchardt, or someone else. Please review and merge if it is ok.

[2016-02-03 15:39] dominicrico commented on #26
Could be tested for articles with:
http://opensourcedesign.net/monthly-update/2015/07/10/this-month-in-open-source-design.html

And for events: ( must be merged first ;) )
http://opensourcedesign.net/events/design/hack/meeting/2016/12/07/libre-graphics-meeeting.html

[2016-02-03 18:04] simonv3 commented on #26
Both of those work :)

[2016-02-03 18:04] #26 closed, assigned to nobody

[2016-02-08 14:36] jancborchardt commented on #26
Thanks a lot @dominicrico! :)

[2016-02-28 15:32] simonv3 opened #35 "OSD Meetup - Berlin Early May 2016"
I'm going to be in Berlin in 03-04 of May attending [csv,conf](http://csvconf.com) and possibly [Open Tech Summit](http://opentechsummit.net/) though the website is a significantly less in English than it was last year.

Last year for OTS at that time we got some awesome people together around that time - it'd be great to do something similar and lay out a framework for other people to do this in

[2016-02-28 19:02] jdittrich commented on #35
I'll be at OTS. There is interest in more design and usability at the OTS as far as I'm concerned; drop me a line if you are interested :)

[2016-02-29 13:51] RichardLitt commented on #35
I _may_ be there at csv,conf with you. If so, I'll see if I can make it to the Open Tech Summit, too.

[2016-03-01 14:08] jancborchardt commented on #35
I’ll most likely not make it to Berlin at that time. But yeah, you go for a meetup! :)

[2016-03-01 16:36] simonv3 commented on #35
@jdittrich I'd definitely be interested in talking about that. I'll shoot you an e-mail.

@RichardLitt I'm actually thinking of doing something separate from OTS, maybe just a few hours, somewhere in a pub.

@jancborchardt bummer. One day, we'll meet in person!

[2016-03-01 16:41] RichardLitt commented on #35
@simonv3 I like pubs.

[2016-03-03 21:12] ScintillaLuz commented on #35
I'll be around :)))))

btw: currently in SF, anyone I should meet??? (sorry for being off topic...)

On 28 February 2016 at 07:32, Simon notifications@github.com wrote:

##

Valentina Montagna

+49 0151 25116127
http://shedoesscream.tumblr.com/
http://twitter.com/ScintillaLuz

[2016-03-03 21:18] simonv3 commented on #35
That's okay! Maybe start a new issue for it though? (that is what this repo is for!) A new issue with a proper header will probably attract a couple more people, whereas here they just see the Berlin meetup title and might dismiss it! Also, easier to tweet :)

[2016-03-06 13:05] elioqoshi commented on #35
I am 90% sure I will be at OTS so meet you there guys! :)

[2016-03-06 21:14] danilapellicani commented on #35
I should be in Berlin at that time :)

Danila Pellicani
D https://www.linkedin.com/in/danilapellicanio
https://www.linkedin.com/in/danilapellicani / Make
http://www.danilapellicani.it/ / Say https://twitter.com/danilapellicani

On Sun, Mar 6, 2016 at 2:05 PM, Elio Qoshi notifications@github.com wrote:

[2016-03-07 16:23] jdittrich commented on #35
:+1:
btw., if anybody has an idea for a useful workshop for Open Source Designers, drop me a line. I want to do one on paper-prototyping but may add another one (User Research, maybe?). Also, if anybody wants to collaborate on this, please tell me.

[2016-04-05 08:12] daminisatya opened #39 "The favicon is missing for the events page"

[2016-04-05 22:06] RichardLitt commented on #39
Can this be closed now? Still can't see it, but I notice that #38 is merged.

[2016-04-05 22:50] simonv3 commented on #39
Refresh your cache :).

Thanks for fixing this @daminisatya!

[2016-04-05 22:50] #39 closed, assigned to nobody

[2016-08-20 23:23] jancborchardt opened #41 "FOSDEM 2017 – Open Source Design room organization"
The deadline for developer room proposals is on September 9:
https://fosdem.org/2017/news/2016-07-20-call-for-participation/

It will be our third room in a row! We shouldn’t break the streak :rocket:

Ref issue from last year https://github.com/opensourcedesign/events/issues/22

Who will be there and wants to join organization? :) @belenbarrospena @ei8fdb @evalica @plastelina @Xaviju @bnvk @elioq

[2016-08-21 01:31] victoria-bondarchuk commented on #41
I'm looking forward to FOSDEM2017, please count me in!

[2016-08-22 08:58] belenbarrospena commented on #41
Yikes! Didn't see anything on their mailing list. Well spotted @jancborchardt

I will be in Brussels again, so I can help, but I was wondering if someone else would like to take on coordinating the proposal writing, the cfp and so on. I have done it for the past 2 years, so it might be time to pass the baton ;)

[2016-08-22 15:08] jancborchardt commented on #41
@belenbarrospena do you have an exact document of what you submitted to FOSDEM as the proposal? :) Something which with slight alterations we could submit again (I guess). :)

[2016-08-22 15:25] belenbarrospena commented on #41
@jancborchardt

https://github.com/opensourcedesign/events/issues/22#issuecomment-146806554

GitHub issues are great! :)

[2016-08-22 21:20] gillisig commented on #41
I'm gonna try to make it this time, so count me in.

Edit: Oops sorry for closing the issue 😜

[2016-08-23 08:28] evalica commented on #41
It's a bit too soon for me to know for sure I will be there, but I sure hope I will be able to :) so count me in.

So in order to start the work the content of the proposal could be (adapted from last year - thanks @belenbarrospena ):

Devroom Request for FOSDEM 2017

Title: Open source design
Coordinator: _TODO_Name
Coordinator email: _TODO_Email
Secondary contact: _TODO_Name
Secondary email: _TO

[2016-08-23 09:38] belenbarrospena commented on #41
Hi @evalica

Thanks for putting this together. It looks good to me. Why not stepping in as coordinator? :)

If needed, we can take over the duties at FOSDEM, although I really hope you'll join us there in the end!

[2016-08-23 16:05] elioqoshi commented on #41
I am 95% sure I will be there so count me in! @belenbarrospena I'd be happy to help with the CFP.

btw, my colleagues at Ura Design and me plan to be there with a booth (www.ura.design). Maybe we can join forces with a booth since we have the same goal? What do you think?

[2016-08-24 09:29] belenbarrospena commented on #41
Right, so it sounds like @evalica might be willing to be the coordinator this year, as long as we can cover for her in case she doesn't get to FOSDEM.

@evalica, if I am wrong, let us know! :)

Now we just need a second name. @jancborchardt @gillisig @victoria-bondarchuk @elioqoshi @ei8fdb Would one of you be willing to be the second contact?

Once we decide that, and if nobody has any further com

[2016-08-24 09:41] elioqoshi commented on #41
I'd be happy to be Plan B :P

[2016-08-24 09:42] belenbarrospena commented on #41
@elioqoshi excellent. We are sorted then :)

[2016-08-24 10:17] evalica commented on #41
yeap - works for me. Thanks @elioqoshi for help ;)

[2016-08-24 15:30] #30 closed, assigned to nobody

[2016-08-24 16:45] evalica commented on #41
I created some FOSDEM guidelines/tasks that are easy to follow so that we don't forget anything:
- [x] Submit [**proposal**](https://submission.fosdem.org/devroom.php) for Developer Room on Fosdem.org | [example](https://github.com/opensourcedesign/events/issues/41#issuecomment-241662291) | [Deadline](https://fosdem.org/2017/news/2016-07-20-call-for-participation/): 9 Sept
- [x] See accepted devel

[2016-08-24 20:37] ei8fdb commented on #41
Hea @evalica as they say at home in Ireland that's fecking brilliant! I think you have covered everything that I can think of (right now..after a long day).

The main thing I can think of is when (not if, but when!) the design devroom gets accepted, we should try and promote it as early as possible to maximise the chances of filling the schedule.

Last year I subscribed to a number of OSS design,

[2016-08-24 20:43] ei8fdb opened #42 "Proposal for FOSDEM 2017 accessibility devroom"
I saw a mail on the Mozilla a11y mailing list where this guy Jean-Philippe MENGUAL wanted to propose an accessibility devroom at FOSDEM.

https://groups.google.com/forum/#!topic/mozilla.accessibility/EGZ0CuCoL-M

I followed up with him and he has submitted it. It seems he already has the speakers and subjects organised.

They look like interesting topics anyway:
1. Why accessibility needs to make

[2016-08-24 22:21] dominicrico commented on #41
Dominic Rico Gómez liked your message with Boxer for Android.

Am 24.08.2016 22:37 schrieb Bernard <notifications@github.com>:

Hea @evalica as they say at home in Ireland that's fecking brilliant! I think you have covered everything that I can think of (right now..after a long day).

The main thing I can think of is when (not if, but when!) the design devroom gets accepted, we should try and prom

[2016-08-25 09:45] belenbarrospena commented on #42
This is definitely good to see. It seems to me accessibility never gets the attention it deserves.

I find it a bit sad that they are not opening a public cfp though. It basically eliminates all chances of getting other voices heard. They will be the worst for it, since I am sure there is plenty of interesting accessibility work going on outside their circle.

Also, I don't know of any other devro

[2016-08-25 10:02] belenbarrospena commented on #41
@evalica, that list is excellent. I think I am only missing:
- The Call for Participation publication step in fosdem.org. Once we publish the CFP in opensourcedesign.net, a link to it and the submission deadlines should appear in the FOSDEM website. This is done with a GitHub pull request, if I remember correctly. It's not hard, but I can help if needed. The FOSDEM organisers will remind you of th

[2016-08-25 10:32] evalica opened #43 "Promotional materials for opensourcedesign"
What promotional materials do you think we should have for when we go to conferences (like FOSDEM)?

Would be great to use this issue to gather the sources to get to printing, have some volunteers to handle them and also brainstorm ideas on the materials and ways to get them financed.

Note: the logo is available at https://github.com/opensourcedesign/opensourcedesign.github.io/blob/master/images/

[2016-08-25 10:34] evalica commented on #41
I submitted the proposal to FOSDEM with the content:

---

= Project details =
- Title of devroom:
  Open Source Design
- Elaborate description of proposed devroom (including possible topics):
  After two successful devrooms in FOSDEM 2015 and 2016, we would like to repeat the experience also this year. Since the beginning of our Open Source Design community (http://opensourcedesign.net/) we promo

[2016-08-25 11:19] jancborchardt commented on #41
@evalica awesome work! :) :rocket:

[2016-08-25 12:37] ioana-chiorean commented on #43
- [ ] table cloth
- [ ] banner
- [ ] rollup? I am not a fan of them
- [x] stickers
- [ ] crayons ? as in a geek object that some might use -  specially cool to use them to draw something

I will brainstorm a bit to see if i can come up with more suggestions.

[2016-08-25 16:31] evalica commented on #43
Regarding stickers, I would like see 3 variations:

Since this is the first year we will try to create some goodies, I think we should decide on a single variation. I guess depends on the budget, which currently is 0. Not sure how many we should print: 50? 100?

I prefer A in small size, up to max 4cm. So +1 there :) Unfortunately this kind of logo is just for "le connaisseurs".

For B. I tried to

[2016-08-25 18:17] simonv3 commented on #43
I am plus 1 on the logos, and if they get made I'd like to get some printed as well.

[2016-08-26 13:20] ioana-chiorean commented on #43
@evalica I have some concerns for A as the logo is black - mostly the machines present at FOSDEM are not MACs and mostly are black ( I think)  - so a transparent background and a black logo might not be helpful - do we have any other variation for the logo?
for MAC users this version will be amazing?

[2016-08-27 12:07] elioqoshi commented on #41
Wow, splendid work! I must admit I have yet to read all of it in details but it looks very well prepared!

I will be at FOSDEM together with 1 or 2 colleagues from my startup Ura who can help at the booth. If we have at least 2 people at the booth at any given time, that would be excellent. What do you think?

[2016-08-27 12:09] elioqoshi commented on #43
Firstly we should plan on how we can acquire a small budget. A small crowdfunding campaign? Everyone chips in? What do you suggest? I'd be happy to help as well of course

[2016-08-27 12:13] elioqoshi commented on #42
It's rather absurd to close up the process and curate the schedule that much in a FLOSS conference but yeah. I totally support the topics, but it's not well handled. What if someone else wants to speak about accessibility? They won't have the chance, because said developer room is already ready. Weird.

[2016-08-27 12:43] ei8fdb commented on #43
I'm happy to contribute some money to get materials made up. My preference would be for stickers and maybe some metal badges?

I like all of those logos above - but my favourites are the I1, and the second (right hand side - without the pencil. I really like the colours!) in I2.

Should we have a vote, or just get some of each one?

About other materials, what about some pens or pencils? Lanyards?

[2016-08-27 12:48] ei8fdb commented on #42
@belenbarrospena I was going to make the point to them that they should open it to other speakers, but I don't know them....

@elioqoshi well, if someone wants to talk about a11y at FOSDEM, and they are not going to make an open CFP, I think we should advertise the fact we welcome a11y talks in our devroom too.

What do you think?

[2016-08-27 12:57] ei8fdb commented on #41
@evalica regarding the Twitterings I have access to the OSD Twitter account - I can also schedule those tweets if it helps.

@elioqoshi and everyone: would it be an idea to have a design surgery booth where people can come with their "design emergencies"?

[2016-08-27 13:46] ei8fdb commented on #41
I've created PR https://github.com/opensourcedesign/events/pull/44 to add FOSDEM to OSD.net. Once we get accepted I guess it can be added...

[2016-08-27 14:38] elioqoshi commented on #41
@ei8fdb That's a good idea, but let's make sure the OSD name is well communicated

[2016-08-27 14:40] elioqoshi commented on #42
Yeah, we should emphasize that in case there is anyone who feels left out. I have the leading a11y engineer at Mozilla in mind right now even. He was at FOSDEM 2 years ago.

[2016-08-27 19:08] jancborchardt commented on #41
@evalica @elioqoshi by the way I just added you both to the https://twitter.com/opensrcdesign via https://tweetdeck.twitter.com :) You can Tweet from there and retweet anything which has to do with Open Source Design.

[2016-08-28 07:00] elioqoshi commented on #41
@jancborchardt perfect, thank you!

[2016-08-30 09:10] danilapellicani commented on #41
@evalica for the Open Source Design dinner, do you have something in mind or it's just a dinner somewhere? Because would be cool to involve these designer http://designmarketo.com/ and make a real OS Dinner :) What do you think?

[2016-08-30 09:12] danilapellicani commented on #41
Or maybe just home made pasta, would be fun ;)

[2016-08-30 09:22] evalica commented on #41
@danilapellicani that sounds fancy :) do they organize also in Brussels? Also not sure of the costs.

Last year we met and had a lovely dinner together at a restaurant. Not sure whom organized it last year (I think it was Hollie). Restaurant location ideas would help (and also depends on the number of participants).

[2016-08-30 12:57] belenbarrospena commented on #43
I am happy to chip in with some money too :)

[2016-08-30 13:22] belenbarrospena commented on #41
@evalica @danilapellicani Hollie Lubbock, one of the speakers for the past 2 years, came up with the dinner idea. She was also kind enough to step in as the organiser :)

[2016-09-11 09:07] Bojhan commented on #41
This is really exciting. Hoping I can join. Will there be a period for talk proposals?

[2016-09-12 10:57] evalica commented on #41
@Bojhan on 21 Sept we find out if we have been accepted or not as a developer room, but until then you can think about the proposals. After we can use the application on Fosdem.org to submit talks. The talk submission period is 21 Sept - 9 Oct - 11 Dec (the date when the schedule is final).

[2016-09-13 14:55] evalica opened #45 "FOSDEM 2017 - Sessions Brainstorming Ideas"
We should use this issue to brainstorm on sessions for the Open Source Design room.
In order for a talk to be accepted it will still need to follow the standard process in pentabarf, but here we can gather ideas in order to not forget about them.

For room track organization see #41

[2016-09-13 14:58] evalica commented on #45
Idea from @belenbarrospena and realitygaps (with qtpass) on IRC

This could be done as a short summary before the final session, where we have developers present their projects.

[2016-09-14 14:44] victoria-bondarchuk commented on #45
Hi all,

"Success stories" idea sounds awesome, as it would set a great example not only for engineers, but for designers who are looking for opportunities to be involved!

I was thinking to submit a talk with review of existing academic research on usability and open source culture.

I want to bring up the discussion of suggested methods for usability specialists on how to engage with and contrib

[2016-09-14 15:02] evalica commented on #45
Hi @victoria-bondarchuk . Your talk idea sounds really good. I would be interested to have a summary of that research and your findings.

I worked only for one FLOSS project, so all this comparison between corporate vs. open  or multiple FLOSS projects between them sounds interesting to me :) Since the projects usually are very diverse it's kind of hard to draw some universal conclusions, but summ

[2016-09-15 09:49] belenbarrospena commented on #45
@victoria-bondarchuk I agree with @evalica. The talk sounds great.

Also, thanks for putting that list of papers together!

[2016-09-16 20:53] elioqoshi commented on #45
By the time FOSDEM starts, we at Mozilla have introduced our new logo and brand identity which was done in an open way here:
https://blog.mozilla.org/opendesign
and on GitHub as well: https://github.com/mozilla/opendesign

I'd be happy to give a talk about the new identity and how we proceeded with it

[2016-09-22 08:26] evalica commented on #41
Yesterday was the "21 September: Accepted developer rooms announced". Still haven't received any mail from Fosdem. Waiting ...

[2016-09-22 09:00] jancborchardt commented on #41
@evalica haven’t found any info on the website or Twitter either yet. So I guess it just takes them some days longer. :)

[2016-09-23 07:36] elioqoshi commented on #41
I got an email saying that their selection has been delayed so let's wait until next week

[2016-09-27 09:44] ei8fdb commented on #41
Hea @elioqoshi I'm getting impatient with the FOSDEM doods and doodettes !

Any news? Any news? There's still no news on their site yet. I've asked them on the Twitters....

:)

[2016-09-27 09:53] evalica commented on #41
NO news yet. Waiting ...

[2016-10-02 01:21] elioqoshi commented on #41
Still nothing?

[2016-10-05 15:40] evalica commented on #41
Good news everyone :) Open Source Design devroom has been selected for FOSDEM 2017

[2016-10-05 15:58] belenbarrospena commented on #41
\0/

[2016-10-11 09:27] andreasn commented on #45
I gave a talk at GUADEC this year how I used interviews as part of the process to create the design for public transportation support in GNOME Maps. I'm up for giving a variation of that talk at FOSDEM.

I would love to see the talk suggested by @victoria-bondarchuk

[2016-10-11 11:04] belenbarrospena commented on #45
@andreasn you should really submit a proposal for that. It will be great to have someone from Gnome speaking at last :)

There was also this talk at Paris-Web

https://www.paris-web.fr/2016/conferences/open-design.php

Maybe we can convince the speaker to drop by FOSDEM, since she might be based in Paris and should be an easy trip. I missed the talk, but the feedback I saw about it was good.

[2016-10-11 11:20] Xaviju commented on #45
I'd love to hear someone behind a OS design team. Like the Fedora design team, Ubuntu, or elementary OS. It could also be the blender or Gimp design team. I'd like to know their workflow, how they integrate their work with the dev team...etc.
We could ask [Mairin Duffy](https://github.com/mairin) from Fedora if she can recommend someone to come to talk (she is based in Boston). I've heard some of

[2016-10-11 11:23] belenbarrospena commented on #45
@xaviju I agree. I'd say go ahead and get in touch with Mairin. The Ubuntu
design team is based in London, and I think I saw someone from that team in
the #opensourcedesign channel at some point. I'll have a look

On Tue, Oct 11, 2016 at 12:20 PM, Xaviju notifications@github.com wrote:

[2016-10-11 11:29] andreasn commented on #45
@allanday who's heavily involved in the GNOME design team could also be interested in giving a talk. He's based in the UK, but i have no idea if he's planning on travelling to FOSDEM or not.

[2016-10-11 12:49] Xaviju commented on #45
@andreasn @allanday GNOME is great! Lets see if he'd like to come. Otherwise i'll get in touch with other design teams.
Thanks @belenbarrospena, i'd love to hear about the work of the UX/UI team in Ubuntu Touch. I'd be happy to get in touch with them if you think its interesting.

[2016-10-11 12:54] belenbarrospena commented on #45
@Xaviju sounds good to me :)

[2016-10-11 13:14] evalica commented on #41
Hi :) so it's finally announced on Fosdem website at https://fosdem.org/2017/news/2016-10-10-accepted-developer-rooms/.

We've created the CFP at http://opensourcedesign.net/events/2017/02/05/opensourcedesign-fosdem-2017 and also a tweet at https://twitter.com/evalica/status/785826377266114560 (in case you want to retweet).

It would be great if we could promote the event on some OS/Design mailing

[2016-10-12 13:31] evalica commented on #43
A small reminder in case anyone thought about the sticker design. Thank you

[2016-10-12 13:38] jancborchardt commented on #41
We’re one of the only two rooms to have a call for papers already ;D https://fosdem.org/2017/news/2016-10-10-accepted-developer-rooms/

So disciplined, for sure that’ll help us get the room again. ;) Great work!

[2016-10-12 14:30] simonv3 commented on #43
Someone point me to a website to print stickers and where to send them and I'll print you a monetary reasonable amount.

Or do it and give me your paypal account number and I'll pay you back for however much of it others want to split it with.

[2016-10-13 08:39] belenbarrospena commented on #41
Hi all,

About the promotion stuff @evalica mentioned, this is really important. We really don't want to find ourselves having to fill content gaps, and the best way to avoid that is sending the word out! I hope everybody can help.

This is a list of the places I can easily contact:

Briar Project
The British Computer Society HCI mailing list
Liberation Tech
Libre Office design list
IxDA
London IA

[2016-10-13 08:58] belenbarrospena commented on #43
Me and @ei8fdb will be happy to chip in as well. I think he does know about some sticker websites ...

[2016-10-14 22:42] ei8fdb commented on #43
Someone suggested we set up some crowd funding thingy, then send money into that and then use it to fund sticker printing.

I’m happy to do things either way. I use Zazzle.co.uk to print my “Don’t be a dick” and “Cyber purpleheart” stickers (which have proven MADLY popular!).

Either way I don’t mind.

Are we looking to get stickers for different events? In which case it might make sense to have t

[2016-10-14 22:42] ei8fdb commented on #45
AFAIK the elementary design team are all in the US?

Lets contact their (Fedora, Ubuntu and elementary OS) mailing lists and suggest they come.

I’m afraid I don’t know anyone so it’ll be “shoot and hope” :)

[2016-10-14 22:42] ei8fdb commented on #41
I’ll send it to the lists I did last year (sorry I don’t have them to hand now) and I’ll report back.

I’ll also send it to my work lists (a lot of UK government lists).

For transparency: I’ve had my boss ask me to help some of my colleagues to submit some proposals.

I’ll also promote it (with scheduled tweets) on the Twitters.

Like @belenpena mentioned, maybe we need to make a cfp-promotion.md

[2016-10-14 22:42] ei8fdb commented on #45
I contacted him last year via the GNOME list and he knew about OSD (he might even be on here).

[2016-10-14 22:42] ei8fdb commented on #45
If this is the talk at Paris Web (sorry don’t have Internet access at the moment), then I’ve already contacted the speaker

She was at FOSDEM last year and said that she really enjoyed it.

I’ve asked her if she would submit this talk to FOSDEM. She also chaired a discussion at Paris Web, which I didn’t fully understand as it was in French, but brought up lots of discussion on issues with design a

[2016-10-15 07:32] belenbarrospena commented on #43
I think the crowdfunding thingy is a good idea, as long as it doesn't create too much overhead for the FOSDEM batch of stickers.

Just checked prices in Zazzle: if we order 20 sheets of 20 square, glossy stickers, the sheet works out at 3.45 (total for 400 stickers: 69 sterling).

[2016-10-15 07:35] belenbarrospena commented on #45
@ei8fdb yes, I was referring to the talk at Paris Web. Great you already got in touch with her, and great that she was there last year. Hopefully she'll come back :)

[2016-10-15 13:30] ei8fdb commented on #43
I’ll put £10-15 into a fund.

I’ll have a look today and see if we can get a low-cost fund thing setup.

Alternatively, I’ll go halves with someone for the FOSDEM stickers. Maybe we can then get £5, or €5 from FOSDEM peeps?

[2016-10-16 13:02] victoria-bondarchuk opened #48 "FOSSASIA 2017 – Open Source Design Track Planning"
**Hello everyone,**

The biggest open source conference in Asia - [FOSSASIA](http://2017.fossasia.org/) (think FOSSDEM of Asia) is looking to attract more design talks for the next year event.

FOSSASIA was established in 2009. Previous events took place in Cambodia and Vietnam, Singapore. In 2017 the event will take place from **March 17th – 19th** at the Science Centre Singapore.

Last event bro

[2016-10-16 16:15] simonv3 commented on #48
I am interested in helping organize this, even if I can't guarantee I'll be in the area.

[2016-10-16 18:17] elioqoshi commented on #48
I am interested as well to help here and can also be a speaker/workshop host, talking about Open Source Design at Mozilla and/or Tor. Mozilla will probably be able to sponsor me.

[2016-10-17 06:23] victoria-bondarchuk commented on #48
@simonv3  This is great!  Any advices how to promote this event would be very much appreciated.

@elioqoshi Awesome! Mozilla sponsored FOSSASIA in 2015 and every year there is big Mozilla community, but I don't think there was a design talk yet. Would be great to have you speaking on design in  Mozilla and Tor!
Host application is open already. [Track Hosts and Volunteer Registration to FOSSASIA 2

[2016-10-17 12:54] jancborchardt commented on #48
Awesome, this is already very good! :) We should get some more designers of the Asian & Oceanic region involved. :)

cc @johnonolan @raghunayyar @rdbartlett @brampitoyo @chuaccheng @chuganzy @daminisatya @ericsonluciano @junezhang @juslee @lauweijie @pathumego will you be at FOSSASIA 2017? Would be cool if you’re up for joining the Open Source Design track and maybe giving a talk :)

[2016-10-17 14:45] lauweijie commented on #48
@jancborchardt I live in Singapore -- would love to be there!

[2016-10-19 10:53] raghunayyar commented on #48
I am in Stockholm now, too far, too expensive. :P

[2016-10-25 17:52] jancborchardt opened #49 "Notes from monthly Open Source Design call"
Our monthly Open Source Design call notes will go here! :)
If anything is missing, just edit the post. We will have one comment per meeting to keep it readable.

# Meeting 1 (October 25th 2016)

With @simonv3 @belenbarrospena @jdittrich & @jancborchardt
- **We’ll have a monthly Open Source Design call every first Tuesday of the month** at https://talky.io/opensourcedesign (@simonv3 will create an

[2016-10-25 17:58] jancborchardt commented on #49
This thread will have a monthly update on what we do so it’s apt to notify all of @opensourcedesign/people. :)

[2016-10-25 18:29] simonv3 commented on #49
Note: I edited your notes to say Tuesday, they said Thursday :)

[2016-10-26 05:38] victoria-bondarchuk commented on #49
Thank you for sharing! I wish I could join but not while i'm in Korean timezone.

[2016-10-26 05:44] Xaviju commented on #49
I can confirm [uxbox](https://github.com/uxbox) is in development (I saw a demo yesterday). Current developers are @elhombretecla and @niwinz

[2016-11-10 12:52] elioqoshi commented on #48
Anyone who wants to facilitate this? I can probably help as well

[2016-11-10 13:01] pathumego commented on #48
@victoria-bondarchuk I was planning on going to FOSSASIA anyway! I can help out with organising and talk about something relating to libre fonts, libre font tools and font projects.

[2016-11-10 13:10] jancborchardt commented on #48
Good stuff @pathumego, would be great if you can help with organizing and giving a talk! The CfP is open at http://blog.fossasia.org/fossasia-summit-2017-singapore-call-for-speakers/

@elioqoshi sure, if you’re there anyway any help is appreciated. :) @victoria-bondarchuk and me are the track co-organizers.

[2016-11-10 16:38] evalica commented on #49
@jancborchardt Thank you so much for gathering notes from the meeting since I was unable to participate! For the future maybe we could use Google Hangouts and maybe also record the meetings (just an idea)?

[2016-11-10 16:59] simonv3 commented on #49
FWIW I'm for that but there was pushback from others because it wasn't open - it requires having a google account, and also sharing that google account with other people in the call.

[2016-11-10 17:03] mrphs commented on #49
There's always https://meet.jit.si we could use as an alternative.

[2016-11-10 17:21] evalica commented on #41
Hi. Some news:

### Date

**Sunday, February 5th**.
"Sunday schedules should contain between 7 and 8 hours of content and start between 09.00 and 10.00 and run through until 17.00. The managers should be present in their assigned room from 8.30."

### Room allocation

We have a new room this year. It will be **AW1.121** (82 seats). Last year we were in AW1.120 (74 seats), so we might consider we g

[2016-11-10 18:14] eighthave commented on #49
I use https://meet.jit.si a couple times a week for calls, works great.
no log-ins needed, works on Firefox and Chrome on all platforms,
including mobile.

[2016-11-11 03:30] pathumego commented on #48
@jancborchardt Sure thing, Im looking forward to it. I will sign up on the volunteer form.

[2016-11-11 10:11] elioqoshi commented on #41
@evalica Thanks for the summary!

I'd be happy to be a devroom manager as said if that's fitting. I applied with a talk and will submit another one probably.

Regarding promotion, let's try a Thunderclap?

[2016-11-11 11:41] evalica commented on #41
@elioqoshi you were listed as secondary contact in the devroom proposal, so you should already be a devroom manager. Did you tried to log into penta? Not sure if I need to do anything additional. Did you received any mails from devrooms mailinglist ?

[2016-11-15 14:43] victoria-bondarchuk commented on #43
Just an idea for promotion materials: Privacy stickers for laptop and mobile cameras.
Spotted them at ApacheCon EU this year. Open Source Design logo would fit perfectly.
![img_1362 2](https://cloud.githubusercontent.com/assets/4408326/20309807/c3e330f0-ab49-11e6-9d34-ef46b5d748bd.JPG)

Made by   http://camjamr.com/ -  blocking unauthorized web camera footage.

[2016-11-15 17:25] simonv3 commented on #43
that's actually awesome.

As an update on the open collective stuff. I think we're waiting on @jancborchardt to add some more people as collaborators before Pia gives us the reigns of the organization, but our organization is here: https://opencollective.com/opensourcedesign

[2016-11-15 19:35] ei8fdb commented on #43
I like that idea. Excellent.

How do we get them paid for?

I know we’re a bit…uncertain..if we want money sitting in an account somewhere. And I get that…however companies want to be paid in exchange for making stickers and stuff ;)

How should we do this? SHow of hands who’s coming to FOSDEM and each person contribute $/€/£?

Does anyone want to try and get sponsorship for them? ;)

[2016-11-16 10:52] elioqoshi commented on #41
@evalica I received DevRooms emails but I cannot see any proposals (apart mine) in Penta for OSD

[2016-11-16 11:16] evalica commented on #41
@elioqoshi Try https://penta.fosdem.org/report/review and select our room Track. Let me know if it works.

[2016-11-16 22:51] ei8fdb commented on #41
Hi @evalica do we have any more talks proposals? I am promoting the devroom in work and with other communities.

What is consensus on how many we have so far?

[2016-11-16 22:56] ei8fdb commented on #49
Can we get a notification of this meeting? I had no idea it happened until I read the notes here.

[2016-11-17 04:14] simonv3 commented on #49
@ei8fdb Yeah! Here's [an ICS file](https://oasis.sandstorm.io/shared/_cKKuCMHjF1j7N-wXar3LjSF-L_g8s-hMJ5EGKOckjY) you can add to whatever calendar you use.

[2016-11-17 09:19] elioqoshi commented on #41
@evalica don't have access...

@ei8fdb I submitted a session but would be happy to submit another.

[2016-11-17 10:30] evalica commented on #41
@ei8fdb we currently have 10 proposals.

If we have more than we can be selective with what we choose. In case we don't have enough we will organize some brainstorming / feedback sessions. Currently the last session we want to do (the one with the devs presenting projects) is not listed. So I guess we are still waiting to see what we receive.

[2016-11-17 10:31] evalica commented on #41
@elioqoshi I've seen you send a mail request, so it should be fine, once they fix the permissions.

[2016-11-17 10:32] elioqoshi commented on #41
Do you think we see it fit to have a panel? Logistic wise I mean. Would be also more interactive

[2016-11-17 10:36] evalica commented on #41
@elioqoshi would be very nice to have panels, that's what I though when I said brainstorming / feedback sessions. Now the subjects still need to be listed in Penta :)

[2016-11-21 16:32] evalica opened #51 "Google Code-In 2017 Participation"
Following a recent discussion with @jancborchardt  (see https://twitter.com/jancborchardt/status/799971698191794177) and also a query on IRC (I don't remember from whom), there was the idea to see if we want to participate in Google Code-In.

See timeline: https://developers.google.com/open-source/gci/timeline

This issue's purpose is to see if we are interested, brainstorm tasks, see if we are el

[2016-11-23 14:18] simonv3 commented on #43
Hey! We now have a source of income in the form of open collective https://opencollective.com/opensourcedesign. We could use that money to print the stickers.

@jancborchardt, I think this will involve you as the main (only?) contributor to the project on open collective.

[2016-11-23 21:12] ei8fdb commented on #41
A thought: what do you think about asking speakers to provide us with their talk slides? We can put them into the talks repo, as last year?

Any other....thoughts? :)

[2016-11-24 07:46] elioqoshi commented on #41
@evalica and others: Should we have a panel about the topic discussed on here re: giving/receiving feedback?

https://github.com/opensourcedesign/jobs/issues/120

[2016-11-26 15:42] ei8fdb commented on #43
I've contacted camjamr to see how many we need to order to use a custom image. I'll let you know what I hear back.

It would be nice if we could use our logo.

[2016-11-27 17:14] elioqoshi opened #52 "FOSDEM 2018 - Booth"
Are we going to have a booth at FOSDEM #64 ? I'd be happy to help, together with 2 colleagues of mine ( @rskikuli @giannisk ) from http://ura.design to talk about Open Source Design and ways to work

What do you think?

[2016-11-28 03:01] belenbarrospena commented on #52
The dealine to apply for a booth at FOSDEM is long past. Did anybody submit
an application for one?

On Sun, Nov 27, 2016 at 5:14 PM, Elio Qoshi <notifications@github.com>
wrote:

[2016-11-28 11:15] evalica commented on #52
From this comment https://github.com/opensourcedesign/events/issues/41#issuecomment-241785070 I though @elioqoshi already submitted an application for a booth. I did not submit any booth application for OSD.

[2016-11-28 11:41] belenbarrospena commented on #52
@elioqoshi did write in that thread he would be submitting one for Ura, and that we could join forces. I am not sure what happened with that in the end. The list of accepted stands seems to be published now

https://fosdem.org/2017/stands/

[2016-11-28 12:31] elioqoshi commented on #52
Hmm, I seem to have forgotten that I needed to do that, my bad. Sorry about that :(
Impossible to ask now for a booth in a polite way?

[2016-11-28 12:36] belenbarrospena commented on #52
You could try, but I probably wouldn't. They are busy enough, and it's already very late. We can always try next year :)

[2016-11-28 12:58] evalica commented on #52
We can rename this issue for FOSDEM 2018 so we don't forget. Also a booth is better IMO when the sessions are on Saturday, so that people can come to the booth on Sunday to ask questions/help. So this year it wouldn't had been that convenient :) Let's do it next year!

[2016-11-28 13:37] elioqoshi commented on #41
How will we do the voting on the sessions again?

[2016-11-28 14:04] ei8fdb commented on #41
From last years voting process -

This is @belenbarrospena's post https://github.com/opensourcedesign/events/issues/22#issuecomment-162502081 from 2016:

One thing not mentioned above, is if we submit a talk ourselves, we shouldn't vote for our own sessions :)

I think this process worked well last 2 years.

Thoughts?

[2016-11-28 14:12] evalica commented on #43
@ei8fdb great! also don't forget to ask them how long it will take for them to make them. Also hope the SVG format is ok for them, otherwise let us know what format they expect.
Discount: I see on their website that they have a coupon of 15% until 11/31/2016 :) with "FALL2016" - would be lovely to use it, but it's kind of late.

@simonv3 regarding payment, on the opencollective I see the yearly bu

[2016-11-28 14:13] evalica commented on #43
Opencollective: I just found it - our current funds are $54.20

[2016-11-28 14:59] evalica commented on #43
@ei8fdb Zazzle.co.uk today has a Cyber Monday today with the code: "CYBERMONSALE" :)

P.S :) I'm not a spammer

[2016-11-28 18:23] evalica commented on #41
## Proposals Status
So there are 3 more days until the 1 Dec deadline.
Currently we have 16 proposals (from which 4 don't have any Abstract or Description), see [spreadsheet](https://docs.google.com/spreadsheets/d/1-9hdoukWJgvdn_YPxGS3xMBayVTTJP29o1dGFGnMLx4/edit#gid=905844715)

Just like ei8fdb said, the plan is to review the proposals within the community. You can add a column with your username

[2016-11-28 18:59] simonv3 commented on #49
## Meeting 2 (December 6th 2016))
Meeting: https://talky.io/opensourcedesign

### Agenda

1. Talk to Wikimedia folks @jdittrich.
1.  FOSDEM [#41](https://github.com/opensourcedesign/events/issues/41) stuff @evalica.
    1.  Proposals: FOSDEM Talks [Spreadsheet](https://docs.google.com/spreadsheets/d/1-9hdoukWJgvdn_YPxGS3xMBayVTTJP29o1dGFGnMLx4/edit)
      -- Discuss about the default proposals + D

[2016-11-29 05:33] belenbarrospena commented on #52
Sounds good :)

On Mon, Nov 28, 2016 at 12:58 PM, Ecaterina Moraru (Valica) <
notifications@github.com> wrote:

[2016-11-29 06:13] belenbarrospena commented on #41
Thanks @evalica for the update. About B, I think there is no harm in
extending the deadline. If nobody disagrees, I can take care of making
noise about it :)

On Mon, Nov 28, 2016 at 6:23 PM, Ecaterina Moraru (Valica) <
notifications@github.com> wrote:

[2016-11-29 12:38] belenbarrospena commented on #41
I had a quick chat with @evalica on IRC and we agreed to extend the deadline to December 5th. She will submit a talk to Pentabarf about design reviews and feedback, and I will submit one for the "pitch your project" session.

It doesn't mean we'll do those sessions: we are just submitting them to Pentabarf to make sure we keep them in mind when putting together the final programme.

I hope everybo

[2016-11-29 12:42] andreasn commented on #49
Where can I find more info about next weeks call?
Date, time, place?

[2016-11-29 14:25] elioqoshi commented on #41
Perfect, sounds like a plan! Thanks for taking this on :)

[2016-11-29 14:48] evalica commented on #49
@andreasn in the issue description, or on the website at http://opensourcedesign.net/events/open-source-design-monthly-online-meeting/

[2016-11-29 16:18] RichardLitt commented on #49
Can we add a public calendar on Google so that we can automatically see this is going to happen?

[2016-11-29 16:34] simonv3 commented on #49
I think that's a good idea. @RichardLitt do you mind setting one up?

Are there any other "open" calendars we can do this for?

[2016-11-29 16:53] RichardLitt commented on #49
It adds overhead; someone has to maintain the calendar. I'd rather not volunteer for that right now, as I am minimally involved in OSD at the moment. I might be able to do this after attending a call, but as I haven't been on one yet and want to see what is up, I don't think it would be the best for me to set up the calendar right now.

[2016-11-29 16:55] mestaritonttu commented on #49
There is an instance of [Nextcloud Calendar](https://github.com/nextcloud/calendar) here: https://framagenda.org/ Provided by Framasoft.

[2016-12-01 07:42] mestaritonttu commented on #51
I think you could still join as co-mentors to this year's GCI. Simply look at the organizations participating and contact mentors in the ones that seem relevant to you. If they let you in, you just start creating tasks. I have once co-mentored in this way without being in an organization from the start.

[2016-12-05 14:56] jancborchardt commented on #42
@ei8fdb @belenbarrospena @elioqoshi seems from https://fosdem.org/2017/news/2016-10-10-accepted-developer-rooms/ that their room was not accepted. Did you already contact them if they want to submit a talk to our room?

[2016-12-05 14:58] jancborchardt commented on #41
Also submitted my stuff now :D

One of the sessions is a general introduction to our Open Source Design collective. This would be good as opening session since that was lacking a bit the last times. It would also be cool to have more of us folks on stage for that, just so people know who to talk to and who focuses on what (job board, funding, etc) if they want to get involved.

@belenbarrospena di

[2016-12-05 18:30] evalica commented on #41
Today is the deadline for the FOSDEM proposals. (Thanks @belen for extending the deadline)
Currently there are 26 entries + 2 ideas in the spreadsheet. Thanks to everyone who promoted the event and the ones that submitted sessions. It’s going to be hard to select since there are lots of interesting proposals and we have max 16 slots.

Anybody can review the proposals (in fact, the more reviewers,

[2016-12-05 18:38] andreasn commented on #41
It seems that I didn't add a description for my talk, purely out of accident. Is it OK if I add it now?

[2016-12-05 18:40] evalica commented on #41
@andreasn yes - please do so that everybody knows what is about. Thank you Andreas :)

[2016-12-05 19:56] jancborchardt commented on #41
cc @belenbarrospena @ei8fdb @bnvk @simonv3 @victoria-bondarchuk @elioqoshi @Bojhan @danilapellicani for voting ASAP! :)

See @evalica above on how to vote. Short: Put your name in a right column of that spreadsheet and put a `1` if you like that talk. 14 votes, not for your own:
https://github.com/opensourcedesign/events/issues/41#issuecomment-264935555
Spreadsheet link: https://docs.google.com/sp

[2016-12-05 20:55] ei8fdb commented on #42
@jancborchardt I cannot get my message sent to their list. I tried 3 times. Next year, I'd advertise our room again.

[2016-12-05 20:55] ei8fdb commented on #42
I think we can close this now? If anyone wants to reopen it, please do.

[2016-12-05 20:55] #42 closed, assigned to nobody

[2016-12-05 20:57] ei8fdb commented on #41
@jancborchardt @belenbarrospena @evalica and everyone else.

I think we're missing 1 or 2 from that list?

[2016-12-05 21:14] ei8fdb commented on #41
All,

As discussed in the sheet, the following should be included by default?

* Our Open Source Design collective
* Pitch your project
* Closing Session
* Success Stories from our community

**OR** should we also be voting on these?

My view is these should be included by default.

In which case, we are voting for 14 sessions, *apart* from these?

[2016-12-05 22:29] evalica commented on #41
@ei8fdb I've added your latest entry on position 27, so I don't think we are missing any talk.

Regarding the "by default sessions", since max is 16 and we vote for 14, we can decide to split the 40 minutes between these sessions.

What is needed is that we add them to penta and that we have someone in charge of them. For example, the "Success Stories from our community" we need a volunteer to kno

[2016-12-05 23:32] jancborchardt commented on #41
Proposing this as time for the default talks (40 min total), also in that order:

- Our Open Source Design collective / opening session (5–10 min)
- Success stories from our community (10 min) – we could also combine it into one session where we do it all together anyway
- (All the talks)
- Show your project to get designers involved (20–25 min, with 3 min lightning talks inside)
- Closing session

[2016-12-06 10:11] evalica commented on #41
The "Success stories from our community" could be put also before the "Show your project to get designers involved" as a motivator. We just need to find a volunteer for it.

[2016-12-06 13:07] belenbarrospena commented on #41
I just put my 14 votes in. Boy, that was hard: so many good proposals this year :)

@jancborchardt I did submit the session. I couldn't remember how you called it, so I wrote down "pitch your project". I didn't vote for it: I am assuming is getting in by default, because it's always worked really well.

I am not going to make the call tonight: with the winter time change in Europe is a bit too lat

[2016-12-06 20:29] evalica commented on #49
We had the meeting and there were around 7 participants. I've added the [summary](https://github.com/opensourcedesign/events/issues/49#issuecomment-263360799).
We still need help for points 2.i and 3. Deadline is 8 Dec. Help us with votes and more text for the interview.
See you next time on 10 Jan 2017.

[2016-12-06 21:41] simonv3 commented on #49
Awesome! I'm sorry I couldn't make it. My internet is a dumpster fire. I'll poke at the google docs with the answers if I get a chance :)

[2016-12-07 07:57] belenbarrospena opened #54 "FOSDEM 2017 dinner"
The [notes from the December 6th meeting](https://github.com/opensourcedesign/events/issues/49#issuecomment-263360799) asked for an issue to organise our dinner on Friday before FOSDEM. So this is it.

If you would like to come to dinner, please comment with your name and your dietary preferences, like so:

Belén Barros Pena (@belenbarrospena) - vegetarian

[2016-12-07 08:20] ei8fdb commented on #54
Bernard (@ei8fdb) - preferably meatatarian (or tasty vegatarian)

[2016-12-07 08:44] Xaviju commented on #49
Thanks for the summary! I've already voted on the spreadsheet.
About the logo, I agree with @ei8fdb on having a first batch of the logo (it's a shame if we have to change it). I'd be happy to pay for it if needed.

[2016-12-07 08:48] belenbarrospena commented on #49
Thanks @evalica for taking notes, and to all the people who attended. It is a bit too late for me while in IST.

Couple of comments on the notes:

I agree it would be better to start at 10, but with so many good submissions it would be a pity to discard another 2. So my vote goes to 14 sessions, starting at 9am, although I cringe thinking of the early morning start after all the Saturday beer ;)

[2016-12-07 10:20] evalica commented on #54
Caty (@evalica) - any delicious food
Also I want to bring a +1.
Regarding hour, after 20:00 would be great, since my flight lands at 18:20.

[2016-12-07 11:49] eppfel commented on #54
Felix – omnivorous 😉

[2016-12-07 14:12] jancborchardt commented on #54
Jan (@jancborchardt) – anything delicious too :D (lactose-free but I can choose that from the menu)

[2016-12-07 15:08] jancborchardt commented on #49
Added my recollections to the history and the other points in the interview questions: https://docs.google.com/document/d/1LNrkXNKH-KBFsz9zxn-4DBFS_q25luApbPOdu7XBo7Q/edit
@bnvk would be good if you also chime in there cause you were around early on as well. :)

@belenbarrospena regarding the time, since we’re on Sunday and last year it was also a drag in the morning I would say let’s go for 10. S

[2016-12-07 16:27] gillisig commented on #54
Gilli - Gluten, lactose and yeast free. Yes my stomach sucks! :)

[2016-12-08 08:58] belenbarrospena commented on #49
@jancborchardt Well, call me an optimist, I am hoping that we'll get the video working this time ;) which means the talks will be there for posterity, even if the room is not full on the day.

I just feel a bit sorry about throwing away good content, that's all. If my session makes it in, I'll happily volunteer for one of the "ghost" morning slots :D

[2016-12-08 22:55] evalica commented on #41
Thanks to everyone who voted. There were 12 people that casted at least 1 vote.

Since the schedule is not in total agreement, I've though about 2 schedules: A and B. I will create separate comments for them and I ask you to vote using the reaction :thumbsup: so we can keep track of the preferred solution here.

The main differences between A and B:
**A**. 12 sessions starting at 10:00 with the de

[2016-12-08 22:55] evalica commented on #41
**Program A**
https://docs.google.com/spreadsheets/d/1-9hdoukWJgvdn_YPxGS3xMBayVTTJP29o1dGFGnMLx4/edit#gid=91128727

[2016-12-08 22:55] evalica commented on #41
**Program B**
https://docs.google.com/spreadsheets/d/1-9hdoukWJgvdn_YPxGS3xMBayVTTJP29o1dGFGnMLx4/edit#gid=1809052434

[2016-12-10 05:33] belenbarrospena commented on #41
Thanks @evalica for doing all this work!

I have voted for programme B. No surprises I guess, since I've already mentioned here that I have a preference for the 9am start.

However, I cringe a bit at having My Le's talk opening the day. I would prefer the ordering from A, where our community-related sessions take the early slots (and bear the brunt of our decision of starting early).
As a I said b

[2016-12-10 08:49] evalica commented on #41
@belenbarrospena we are starting early to accommodate sessions that otherwise would not make it at all.

[2016-12-11 09:37] evalica commented on #45
Closing since submission period is over. Thanks for your participation.

[2016-12-11 09:37] #45 closed, assigned to nobody

[2016-12-11 19:31] evalica commented on #41
Status: Accepted/Rejected mails sent. Speakers already started to confirm presence.
The schedule gets updated with each session confirmed, check https://fosdem.org/2017/schedule/track/open_source_design/

When all the sessions will be confirmed we will tweet the schedule. Thanks everyone for the votes.

[2016-12-11 20:47] ei8fdb commented on #41
Great work @evalica! Is there anything you need help in doing? Do we have enough people to do the default sessions?

I'll pack extra bottles of water and headache tablets for the 9am start.

I'm not looking forward to the early start, but I am glad that we will be able to have all the good talks that were submitted.

Random idea: maybe we should apply for 2 days next year? 💃 !

[2016-12-11 20:49] ei8fdb commented on #41
And now that we're underway, can I suggest people look at #54 (FOSDEM Dinner preferences - do we organise dinner?) and cast their votes....

[2016-12-11 21:22] ei8fdb commented on #43
The nice CamJamr people have replied to my mail.

Reminder: camjamr make stickers for phone front facing cameras.

Their retail price is: $5.95/pack (for 17 camJAMR webcam covers)

Here's the proof of our controversial (!) OSD logo which they sent me:

![](http://i.imgur.com/nulyfZV.png)

[2016-12-11 21:40] ei8fdb commented on #43
As a way to get some consensus on this:

### Situation
We (OSD) have been contacted by OSI (Open Source Initiative) about our logo. While we don't have the full details, we think its about the similarity of our logo to theirs.

We don't want to p1$$ anyone off or act the a$$.

So we have to decide on what we're going to do about promotional bits for FOSDEM and subsequent conferences.

### Possible

[2016-12-11 21:55] ei8fdb commented on #35
I've got some time so am doing some house-cleaning.

I'm going to close this, mainly because it was for an event in May this year.

[2016-12-11 21:55] #35 closed, assigned to nobody

[2016-12-11 22:02] ei8fdb commented on #8
I think this issue is definitely done? We have a website. :)

If not, please reopen it. (I'm bored and got some time to do house-cleaning....)

[2016-12-11 22:02] #8 closed, assigned to nobody

[2016-12-11 22:05] ei8fdb commented on #11
This looks like its done?

Doing some cleaning..reopen if needed?
🏠 👷

[2016-12-11 22:05] #11 closed, assigned to nobody

[2016-12-11 22:08] ei8fdb commented on #13
This looks like its done:

### Current OSD events page showing "future events"
![](http://i.imgur.com/FQln0zU.png)

### Current OSD events page showing "past events"
![](http://i.imgur.com/z2NALsI.png)

I'm going to close it, but reopen if necessary.

[2016-12-11 22:11] #13 closed, assigned to nobody

[2016-12-11 22:12] ei8fdb commented on #15
This looks like its been merged. Time to close? Or no?

[2016-12-11 22:13] ei8fdb commented on #21
I'm going to close this since it's about an event thats already happened.

[2016-12-11 22:13] #21 closed, assigned to nobody

[2016-12-11 22:14] ei8fdb commented on #27
I'm going to close this since its about an event that has taken place.

[2016-12-11 22:14] #27 closed, assigned to nobody

[2016-12-11 22:18] ei8fdb opened #56 "Some house cleaning"
Hiho all,

I've had some time on my hands so I've done some house cleaning.

I've reviewed and closed the following:

#35 (OSD Meetup - Berlin Early May 2016)
#27 (Libre Graphics Meeting 2016)
#21 (IxDA 2016 - Helsinki)
#13 (Render "Past Events" differently than Upcoming or Current Events) I updated it with with a screenshot of the events page as now
#11 (Make gh-pages default, move remaining mast

[2016-12-12 07:32] evalica commented on #49
## Meeting 3 (January 10th 2017) - Agenda
Meeting: https://talky.io/opensourcedesign

#### Topics
1. FOSDEM
1. [Logo](https://github.com/opensourcedesign/events/issues/43#issuecomment-266310079) Status + OSI [Affiliation](https://opensource.org/affiliates/about)
1. Multiple licensing across repos (MIT, AGPL-3.0, Apache-2.0, etc.)
1. Meeting software: https://jitsi.org/ instead of https://talky.io,

[2016-12-12 07:42] evalica commented on #43
Not really sure how they could come up with that proposal, if you sent them the SVG from this issue. Anyway ... concerning.

Regarding the logo, I'm not sure what to say since I don't have legal experience and also I am not a logo expert so cannot say how many diversity it should be between them, etc. From an usability perspective it's pretty clear things are confusing :) and we now have our proof

[2016-12-12 07:43] victoria-bondarchuk commented on #54
Victoria (@victoria-bondarchuk) –  anything.  + @bzz –  anything

[2016-12-12 07:51] eppfel commented on #43
–  https://opensource.org/trademark-guidelines – 5.1. Trademark Usage Guidelines

From my amateur legal knowledge, they could force us to change the logo, because of the line above. We would have to prove, that the logo does not "play on" on theirs to fend this off. 😁  Maybe there is a slim chance they allow us an exemption, because we do not produce software products.

Although the camjamr idea i

[2016-12-12 09:18] belenbarrospena commented on #41
Thanks @evalica for all the great work!

I have 2 sessions, which is 2 too many ;) Would anybody not speaking like to take the pitch your project one? That's where projects can come and ask for design work. @jancborchardt can tell you what's involved: he did it last year. It's more like a moderation role.

If you are interested, just reply here. Thanks!

[2016-12-12 10:56] evalica commented on #41
Following Belen's example: if somebody wants to handle the "Closing" or "Success Stories from our community" sessions let me know. Preferable some community members that don't have other sessions :)

[2016-12-12 14:53] bnvk commented on #15
Mmmm. I don't thinkthis is ready to be closed!

[2016-12-12 14:59] bnvk commented on #56
As per #15 the files still look a bit messy still as some files have `eventDate` value which should not exist. Making the date nice to read (on the website) should be done with something like this:

[code]

Which makes an interesting challenge (about "event" related data in general), as there are usually three *date* values that are relevant:

- eventStart
- eventEnd
- eventPublished

As well as s

[2016-12-12 15:18] ei8fdb commented on #41
Unless anyone specifically wants to do the pitch your project session, I'm happy to do it.

About teh closing - maybe it might be nice if we all gave a minute each?

[2016-12-12 19:10] evalica commented on #41
@ei8fdb the problem with a minute each is that we might be more than 5 in that session :) the schedule is a bit tight, plus we will need to clean up and hurry for the official closing. Anyway, in that session we should do at least 1 photo :) to continue the tradition.

[2016-12-13 00:59] ei8fdb commented on #41
@evalica OK how about we all do it together - what I mean is, the closing session is the closing of the Open Source Design track at FOSDEM that we *all* organised.

I kinda feel that it should be as a collective. Organise it however..each person says one word, and rotate around to the next.

I just think its an opportunity to say thank you to everyone.

[2016-12-13 03:35] belenbarrospena commented on #41
I think calling everybody to the front of the room is a nice idea, but it will be much more coherent and understandable for the audience if one or two people do the talking. If we all want to say something we will have to practice! ;)

@evalica, as the person pulling off most of the work in this case, should probably be one of them. And then maybe @victoria-bondarchuk or @jancborchardt, as the org

[2016-12-13 03:44] belenbarrospena commented on #41
@ei8fdb about taking the pitch your project session, I see you already have a short presentation: "Promoting your FOSS project to university student designers". It would be nice if someone from the community, but not talking, could take this. What about @gillisig? Or maybe he would prefer taking the "Success Stories from our community" one?

If noboby else volunteers, it is definitely yours @ei8fd

[2016-12-13 07:41] evalica commented on #41
I'm fine in having the Closing as a collective (I quite prefer it this way) as long as we keep it short :)
Regarding the "Speakers" column in the schedule: should we have more people listed there? Just let me know if you want your name added.

[2016-12-13 22:31] evalica commented on #43
I was thinking about our logo and my first thought was: "what if at the end of the circle we straighten the angle".
So just for reference, this is how it would look like:
![osd_straight](https://cloud.githubusercontent.com/assets/629552/21162143/84f66ba8-c194-11e6-8660-8383908e99d2.png)
I'm not really sure how I feel about it.

[2016-12-14 00:34] bnvk commented on #11
We actually no longer need to (and probably should not) be doing the `gh-pages` branch thing since Github now allows one to choose if one wants to use the `master` branch. For repos with code / app as well as a jekyll site this makes sense, but for our purposes we should just use `master` for all the repos IMHO

[2016-12-14 01:28] simonv3 commented on #43
Would that be enough for OSI?

[2016-12-14 07:03] evalica commented on #43
Well, we could ask but I don't think they trademark on all black circles with something in the middle :)

[2016-12-14 15:44] simonv3 commented on #43
Who do we ask to ask?

[2016-12-14 15:50] evalica commented on #43
First it's OSI, than GitHub might say it's similar :)

Regarding asking, @jancborchardt do you know anything?

[2016-12-15 01:19] jancborchardt commented on #49
Since people have asked for a public calendar, I added the dates of the meetings as well as the FOSDEM Open Source Design room to a calendar you can subscribe to:
:calendar: https://cloud.nextcloud.com/apps/calendar/public/MIFAFLFJADIVX63I :)

(It’s our company instance so I can’t add people to collaborate unfortunately. But if you have a Nextcloud it will be possible to collaborate via federated

[2016-12-15 14:11] jancborchardt commented on #11
@bnvk yup, agree with that as it makes stuff simpler. :) Also still I think it would help ease of organization and newcomers if we think about combining repos more. ;)

[2016-12-16 00:03] jancborchardt commented on #43
Sorry for the lateness here! Just replied to their mail and put you @evalica & @simonv3 in cc so I’m not the bottleneck. :)

[2016-12-16 00:43] jancborchardt commented on #56
While house cleaning is made, it would be good if we can ensure that all past events are actually on our events page. I can’t see any which are missing right now. Can you recall more @ei8fdb @bnvk @belenbarrospena?

[2016-12-16 07:19] jdittrich opened #57 "Berlin Meetup"
Hello Opensourcedesigners,

Some of us are based in Berlin and I wonder if we want to start a little meetup there. (Originally not my idea – I think @jancborchardt and @Incabell talked about this already).

Who is in Berlin and would be interested?

[2016-12-16 14:58] evalica commented on #41
Today is the deadline for FOSDEM 2017 sessions confirmations. At the moment we are lacking 4 speakers:
- "Designing MuseScore" by Miroslav Mazel (pinging @lasconic and @thomasbonte maybe they know him since I can't find a GitHub account)
- "Interviews as user research" by Andreas Nilsson @andreasn
- "Mozilla Open Design" by Elio Qoshi @elioqoshi
- "Promoting your FOSS project to university student

[2016-12-16 16:23] andreasn commented on #41
I can confirm I'm speaking!

[2016-12-16 16:29] andreasn commented on #41
But I can't change the status to confirmed! :/

[2016-12-16 16:31] andreasn commented on #41
replied to the e-mail now.
Sorry for the mess.

[2016-12-16 16:57] 12people commented on #41
@evalica Miroslav Mazel here, I am attending

[2016-12-16 20:09] ei8fdb commented on #41
@evalica Yes, I'm confirming. Sorry - didn't see this 'til @jancborchardt shame-tweeted me ;)

[2016-12-16 20:15] ei8fdb commented on #41
@belenbarrospena I'm totally fine with someone else doing it. I think it should be a few people anyway..

[2016-12-17 03:45] jancborchardt commented on #41
Same for the »Our Open Source Design collective« talk btw. I expect a few of you @belenbarrospena @bnvk @ei8fdb @evalica @elioqoshi @jdittrich (and @simonv3 @victoria-bondarchuk, and others, if you could be there!) to be on stage for that too. :)

(@evalica if it’s possible to add multiple speakers or free text, it would be great to use »Open Source Design team« for these collective / default sess

[2016-12-17 11:33] evalica commented on #41
So, thanks for confirming. We are still missing @elioqoshi

@jancborchardt regarding speakers: you can only add penta users. I guess the rationale is that each speaker has a profile page and in order to look nice on the website. I cannot add free text.
So I will let each person assigned now to handle each of the "collective" sessions and send me in mail what exact users should be listed there. Ple

[2016-12-17 11:39] evalica commented on #41
Maybe we can mark in the title, have like a tag "[Collective]" ... or "[Group]"

[2016-12-17 11:49] ei8fdb commented on #41
@evalica yep, I think thats a good idea - having a tag to signify "it's the whole group". 👍

[2016-12-17 12:18] evalica commented on #49
### Open Collective Interview

URGENT: Deadline Sunday 18 Dec.
TASK: [Review Draft](https://docs.google.com/document/d/1z-Np2oxogj5xUpzsQd6sRsqfsX0ijw6fHts9H71C0f0/edit)

Aseem Sood managed to take all our brainstorming notes and create a Draft.  So if anyone wants to review it and make comments, feel free to.

The publishing is targeted towards Monday, 19 Dec.

P.S: I've used this issue to announ

[2016-12-18 07:35] belenbarrospena commented on #49
Looks good to me :)

[2016-12-18 13:31] bnvk commented on #41
Yep yep! Of course I'll be there :) I hope @simonv3 can as well, but Alaska
is a bit far :P

[2016-12-18 17:49] elioqoshi commented on #41
Hey sorry, I had 2FA problems with GitHub lately. I'm still seeking official confirmation for my sponsorship from Mozilla but I'm 90% sure I will be there.

[2016-12-18 17:50] elioqoshi commented on #57
I am quite a few times per year in Berlin, would be happy to be there next time

[2016-12-18 18:06] elioqoshi commented on #54
Probably me as well (coming with Mozilla, so hope we wont have overlapping plans).
Elio - Omnivorous

[2016-12-19 02:07] belenbarrospena commented on #54
Would anybody object to inviting the submitters and speakers to come along? I can send a message to them, unless @evalica wants to do it to keep the contact person consistent :)

[2016-12-19 06:48] victoria-bondarchuk commented on #48
Hello everyone,

FOSSASIA CFP deadline is tomorrow on 20th of December.
Please submit your talks here: http://2017.fossasia.org/speaker-registration/

Here are some[ pictures](https://www.flickr.com/photos/comprock/albums/72157665859400502) from last year for inspiration.

[2016-12-19 07:58] ei8fdb commented on #54
No objections here.

[2016-12-19 11:01] evalica commented on #54
I can do it, but I have no problem in Belen sending the invites. We are a community and everyone should help.

[2016-12-19 12:28] belenbarrospena commented on #54
Email sent. About the time, hopefully we can push it to 21:00 to give people enough time to arrive.

By the way, I don't know Brussels that well, so if anybody can recommend a place that has gluten, lactose and yeast free options, please comment!

[2016-12-19 13:00] andreasn commented on #54
I'm in!

[2016-12-19 13:30] ghost commented on #54
My Lê (@my-le) - any food
I can ask Bussels friends for new places to eat vegetarian, gluten and lactose free food.
(Otherwise I know a nice lebanese restaurant that I advised last year to Mozilla Paris employees).

[2016-12-19 13:33] belenbarrospena commented on #54
Hi @my-le. Thanks for offering to help finding a place. Let me know what you find out :)

[2016-12-19 15:05] karypun commented on #54
@belenbarrospena Hello, would love to attend but need to confirm dates of my arrival with my organisation. What's the latest you'd need to know by?

[2016-12-20 02:06] jancborchardt commented on #57
@bnvk, @danilapellicani & @Kriesse are in Berlin for example – we had a first [Open Source Design meetup back in early 2015](http://opensourcedesign.net/events/2015/03/15/berlin-open-source-design-meetup) (also with @gillisig attending remotely). I’m in Berlin sometimes too.

We could do a regular monthly meetup maybe even on a fixed day? That usually works well and seeing how we are already ~5 pe

[2016-12-20 04:42] belenbarrospena commented on #54
@karypun I wouldn't worry too much: I am sure we can make space if you turn up last minute :) Just let me know when you know.

[2016-12-20 04:57] belenbarrospena commented on #57
@jancborchardt I think I wish I was in Berlin so I could join the fun :) Sounds like a great idea, and I don't see any harm in you joining the monthly call together.

btw, just saw the news. I hope all of you in Berlin are ok :(

[2016-12-20 07:54] evalica commented on #57
Meeting in person is always nice, so I'm sad that I won't be able to attend. It would be nice to accept also remote participation, but I guess it depends also on the hour/day you want to meet.

[2016-12-20 14:37] Incabell commented on #54
I'd love to join too!
Charlie (@incabell) - vegetarian

[2016-12-20 14:44] jancborchardt commented on #49
And the article is now up, thanks to Open Collective!
Please retweet https://twitter.com/AseemSood_/status/810935321420595200 everyone :bird: :tada: :)

[2016-12-20 15:34] qwazix commented on #54
Me too, me too! (+1)

[2016-12-20 15:35] jdorfman commented on #43
Peeps, I work for Sticker Mule. I can have some printed and shipped to FOSDEM for free. Just email me jdorfman at stickermule.com

[2016-12-20 16:16] massonpj commented on #43
Hi all, I just received a follow up from @jancborchardt (thanks for the reply) regarding the use of the Open Source Initiative (OSI) Keyhole Logo. I see that you have another design there. Let me run that by our trademarks folks to get their opinion.

Just as a point of clarification, conflicts are not just due to similar designs, but also fields of endeavor. The real metric here is, "Likelihood o

[2016-12-20 17:13] PanderMusubi commented on #54
Me too, no restrictions.

[2016-12-20 17:19] elioqoshi commented on #43
Latter sounds reasonable to me regarding what @massonpj said. What's the procedure about this?

[2016-12-20 17:22] elioqoshi commented on #48
I applied as well

[2016-12-20 17:28] pathumego commented on #48
@victoria-bondarchuk @jancborchardt I posted for a session on Libre Fonts and my colleague @lpsandaruwan is also posted a talk. We registered as volunteers too :) But I wont be able to help out in pre-conference planning.

[2016-12-21 00:11] massonpj commented on #43
Back again. We just had a chat at the OSI and we were wondering if maybe Open Source Design would like to design a logo or mark that could be used by organizations working with the open source space to show their alignment/adoption of the open source ethos (a symbol, badge, etc. of support and shared vision/goals)?

Coincidently, we just had a request from Open Camps, a United Nations Open Source

[2016-12-21 00:15] massonpj commented on #43
Regarding @elioqoshi's  question, Becoming an Affiliate Member is quite simple. The info is here: https://opensource.org/affiliates/about

Basically a representative of Open Source Design would need to sign the Affiliate Agreement with a cover letter of why the organization would like to join. You would also need to provide evidence of eligibility (https://opensource.org/AffiliateRequirements). De

[2016-12-21 06:47] victoria-bondarchuk commented on #48
@elioqoshi  @pathumego  @lpsandaruwan  very exciting! Hope to meet you all in Singapore!

[2016-12-21 10:18] belenbarrospena commented on #43
It seems to me that, until the situation with the logo is clarified with OSI, we should not print the current logo on any stickers.

However, I would love to take @jdorfman kind offer and get some stickers done for FOSDEM :)

We had a few [logo proposals,](https://github.com/opensourcedesign/opensourcedesign.github.io/issues/18), although a lot of them played with the idea of an open circle.

Shou

[2016-12-21 11:29] 12people commented on #54
I originally signed up here as interested, but now I've decided to come on Saturday morning instead, so I won't make it. Enjoy the dinner, though! :)

[2016-12-21 12:06] elioqoshi commented on #43
There is definitely a need for an open source symbol free of any trademarks. As a movement, that's also very important (imagine if the Peace or the Anarchy symbol would be trademarked, that would change the course of history).

I would be happy to help in that case (that might be a big discussion though)

[2016-12-21 13:23] aoloe commented on #43
a unrequested suggestion: what about making a square or a triangle out of it?
only until a free logo shows up...

![osd-alt](https://cloud.githubusercontent.com/assets/1857016/21390722/9d18c9c0-c788-11e6-949b-0f5a1608c511.png)
(sorry for the fast and furious draft)

people who know OSD will recognize the logo.
OSI should not have a much issues with a triangle that has a paint brush in it.

And, ye

[2016-12-21 14:38] jdittrich commented on #57
**Time/Date:** What about the 3rd Tuesday of each month?
**Note**: We could also involve the LibreOffice design people in Berlin. Anyone with contact to them?

[2016-12-21 14:47] jdittrich commented on #57
**Time/Date:** What about the 3rd Tuesday of each month?
**Note**: We could also involve the LibreOffice design people in Berlin. Anyone with contact to them?

[2016-12-21 15:12] Incabell commented on #57
**Time**: I would prefer a Wednesday due to a personal schedule. We could also set up a [dudle.](https://dudle.inf.tu-dresden.de/)
**Note**: I would suggest meeting in a cafe or bar of our choice for the beginning, like a Stammtisch and then see where it goes.

[2016-12-29 05:16] belenbarrospena commented on #54
Adding Raghu (no diet requirements), who emailed me about it

[2016-12-29 17:55] 12people commented on #54
Turns out I'll be attending after all, sorry for the mess. Allergic to soy, would prefer vegan, vegetarian is acceptable.

[2016-12-30 08:54] ghost commented on #54
I have created a pad with some restaurants suggestions.
Feel free to add yours: https://semestriel.framapad.org/p/Fosdem2017OpenDesign.

[2017-01-06 07:45] belenbarrospena commented on #54
Thanks @my-le for putting that list together. @jancborchardt, @gillisig and @12people: could you look at @my-le's list of restaurants, check the menus and see which one is better for your food needs? You can comment here with your preference.

Please try and do so before Monday 10th. We really need to book soon since we are a big group!

[2017-01-06 08:08] belenbarrospena commented on #54
Me again :D

I've created a Doodle list with the people who said are coming to dinner.

http://doodle.com/poll/4gqzwzs8z3vesqat

Since we all know things change ;) I am going to ask you to reconfirm in Doodle that you are coming. Please do that before Monday 9th. Otherwise I will assume you have changed your mind and won't be coming. Thanks!

[2017-01-08 14:02] PanderMusubi commented on #54
With that many people, not better to split the group in two?

[2017-01-09 09:24] elioqoshi opened #58 "OSD Workshop #1 in Tirana, Albania"
I'm happy to co-host the first OSD Workshop in our local Open Labs Hackerspace in Tirana, Albania:
https://openlabs.cc/sq/open-source-design-workshop-1/

Together with Anxhelo Lushka, a fellow design contributor to LibreOffice and Fedora, we will show the basics of GIMP and Inkscape so people can find their way around basics in Graphic Design, breaking the stereotypes that they need Adobe software

[2017-01-09 09:51] evalica commented on #58
Very nice. Good luck! Do you also plan to create a PR to have it listed on http://opensourcedesign.net/events/ ?

[2017-01-09 11:07] elioqoshi commented on #58
@evalica Just did it here:
https://github.com/opensourcedesign/events/blob/gh-pages/_posts/2017-01-25-osd-workshop-1-tirana-albania

Not sure if I did that right, first time I created an event :)

[2017-01-09 12:58] evalica commented on #58
@elioqoshi well there is something wrong since the event is not displayed on http://opensourcedesign.net/events/

My first guess would be the missing extension. All the posts have ".markdown" for example "2017-01-25-osd-workshop-1-tirana-albania" should be "2017-01-25-osd-workshop-1-tirana-albania.markdown" can you try fixing that?

[2017-01-09 14:31] belenbarrospena commented on #54
well, it looks like so far only 9 people have confirmed in Doodle, so that should be manageable by almost any restaurant

[2017-01-09 14:44] belenbarrospena commented on #54
About the restaurant, looking at @my-le's list Orientalia looks good to me

http://www.orientalia.be/accueil/

I will give people a couple of days to object and suggest something different. If nobody does, I will go ahead and book for 10 people.

[2017-01-09 15:02] evalica commented on #54
@belenbarrospena thanks Belen for your work.

The problem I see with the restaurant is the location, being kind of far from the Grand-Place (especially if we plan to go after in Delirium).

[2017-01-09 15:10] ghost commented on #54
We can take the tram and walk to the Grand-Place, as I don't know much nice and vegetarian restaurants near to the Grand-Place, more touristic.
Otherwise, I can look for further restaurants.

In the list, this one is more close to the Grand-Place:
Soul – Rue de la Samaritaine 20 (Sablon)
Bio fusion – Prices: 25€-30€ – www.soulresto.com

[2017-01-09 15:30] ghost commented on #54
@belenbarrospena @evalica there are veggie options in this Burger restaurant:
Ellis Gourmet Burger – 4 Place Ste-Catherine 1000 Bruxelles
http://ellisgourmetburger.be/fr/menu

[2017-01-09 15:34] belenbarrospena commented on #54
@evalica True. Orientalia is not that close to the centre, but there is always the tram as @my-le said. Soul also looks good though. Would that be better?

[2017-01-09 15:36] belenbarrospena commented on #54
I think I had dinner in Ellis a couple of years ago. It's good, but it seemed small. We would need to check if they can fit all 10 of us.

[2017-01-09 15:38] belenbarrospena commented on #54
ah, just checked. Ellis in St Catherine does not make reservations :(

[2017-01-09 15:40] ghost commented on #54
@belenbarrospena Ellis Gourmet: upstairs is nice for 8 people but 10, it's more difficult.
If we wish to eat there, some for us could be there when it opens (19:00?).

[2017-01-09 16:47] belenbarrospena commented on #54
there is also the place where we went last year. Does anybody remember the name?

[2017-01-09 16:59] evalica commented on #54
@belenbarrospena last year we went to http://www.kokob.be/menu-marquee/

[2017-01-10 19:04] simonv3 commented on #49
## Meeting 3 (January 10th 2017) - Notes

Participants: Andreas, jancborchardt, Jan Dittrich, Felix/eppfel, evalica, Simon

Summary (feel free to edit and add):
* We use »Open Source Design« as name and »opensourcedesign« as usernames everywhere. Twitter limits the length of a username to x amount of characters, which is why we have @opensrcdesign on there. Rarely do we use »OSD« when titles are c

[2017-01-10 19:36] jancborchardt commented on #49
And by the way, everyone who is at FOSDEM, feel free to send me your mobile phone number (via email or Twitter dm) so I can add you to our Open Source Design @ FOSDEM group on [Signal](https://whispersystems.org/). :)

[2017-01-10 22:25] jancborchardt commented on #54
@gillisig @victoria-bondarchuk @bzz @karypun @Incabell @qwazix you still need to confirm if you come or not at http://doodle.com/poll/4gqzwzs8z3vesqat#table :)

[2017-01-10 22:29] qwazix commented on #54
I inserted myself with my real name (Michael Demetriou) and then I saw that
there was already an entry with my username so I left a comment, as I
didn't see an obvious way to delete the entry.

On Wed, Jan 11, 2017, 12:25 AM Jan-Christoph Borchardt <
notifications@github.com> wrote:

[2017-01-10 22:47] Incabell commented on #54
Sorry, I had confirmed with Charlie, cause I didn't see my name there :/

[2017-01-10 23:01] jancborchardt commented on #58
Fixed the extension directly via Github web interface, now shows up at http://opensourcedesign.net/events/ :)

[2017-01-10 23:01] #58 closed, assigned to elioqoshi

[2017-01-11 11:43] evalica commented on #41
We will some volunteer(s) for Video. Requirements:
* pointing the camera at the speaker
* keeping an eye on the local leg of the recording system
* (possibly) do live mixing using a web app (currently in beta)
* keep in touch with the video operations control

And also some volunteers to help if the room gets too crowded.

[2017-01-12 00:52] bnvk commented on #57
I'm all good for this. I'd vote for Wed as well. @jdittrich when shall we do one?

[2017-01-12 04:06] belenbarrospena commented on #54
@qwazix, @incabell, no worries: I'll count you in.

Thanks @evalica for the restaurant link. I will try and book there

[2017-01-12 04:55] belenbarrospena commented on #54
Right, I think we are 18, with 15 omnivores and 3 vegetarians. I suggest we order omnivore menu 1 for 15 and vegetarian menu 4 for 3. You can see the menus here
http://www.kokob.be/groups/

Looks like that should be 20 euro per head plus drinks.

I'll give it a day for you to object, then I'll email them to book :)

[2017-01-12 09:23] PanderMusubi commented on #54
Friend of mine who indicated here he would join forgot to fill out the Doodle, so a +1 for me please.

[2017-01-12 09:46] elioqoshi commented on #58
Thanks @jancborchardt !

[2017-01-12 09:47] Incabell commented on #54
@belenbarrospena That sounds great! Thanks so much for organising this :D

[2017-01-12 10:16] gillisig commented on #54
Looks like I won't make it to FOSDEM this year unfortunately. So count me out. But have fun guys! :)

[2017-01-12 13:52] gillisig commented on #49
@eppfel here is another potential success story from when I was hired by the guys at 5apps to redesign their widget: https://github.com/remotestorage/remotestorage.js/issues/795

[2017-01-13 13:25] karypun commented on #54
@belenbarrospena thanks for organising. I'll be able to make it for dinner. No dietary restrictions from me and I've just updated Doodle with my response too! :)

[2017-01-15 01:38] belenbarrospena commented on #54
Thanks everybody. Looks like we are 20 now. Email sent to the restaurant: hopefully they can fit us.

[2017-01-15 13:12] elioqoshi commented on #54
When will the dinner be on Friday? My flight arrives 8pm so I might be a bit late

[2017-01-16 02:26] belenbarrospena commented on #54
@elioqoshi I've booked for 20:30. I could try moving it to 21:00, but from experience last year you would still  be late :( If you want to join us when you arrive, you are of course welcome, but I am not sure we'll be able to wait until you arrive for the food. Let me known what you want to do.

If anybody else is in the same situation as @elioqoshi please let me know asap.

The booking is confirm

[2017-01-16 06:05] victoria-bondarchuk commented on #48
Hey everyone,

The submission deadline is postponed until 20 of Jan.

Unfortunately FOSSASIA, as a very young organization, do not have the resources to provide travel funding directly. But you can request invitations, supporting documents that might help you to obtain funding from your organizations, companies or elsewhere. You can find the answers for those questions here http://speakers.fossasi

[2017-01-16 18:09] jdittrich commented on #57
25th of January? Kreuzberg?

[2017-01-18 10:18] jancborchardt commented on #57
Btw, if we do one on February 14th or 16th (Tue or Thu) I’ll also be in Berlin. :)

[2017-01-18 10:28] evalica commented on #57
A small reminder that our monthly meeting is on February 14th

[2017-01-18 13:04] bnvk commented on #57
Yah, let's do the first meetup on Jan 25th, then we can do another one on
Feb 14th that co-incides with the normal monthly one. Would be nice, I
think?!

[2017-01-20 17:47] belenbarrospena commented on #54
Hi all, here comes the dinner info:

Where:
[Kokob](http://www.kokob.be)
[Google maps](https://www.google.co.uk/maps/place/Kokob+Restaurant/@50.8455314,4.3465057,17z/data=!3m1!4b1!4m5!3m4!1s0x47c3c478552398ff:0xb57b465848358537!8m2!3d50.845528!4d4.3486944?hl=en)

When:
Friday, February 3rd at 20:30

Price:
20 euro per person plus drinks.

Please keep in mind that we will be charged for the 20 peop

[2017-01-21 07:30] linchocolatte commented on #48
Hello! I have a design project regarding open-source design I would like to propose, it was part of my final year degree project, where/who can I talk to? Hope this is not too late :O If I want to volunteer for the event, where can I know more about FOSSASIA? Thanks in advance!!!

[2017-01-21 08:04] evalica commented on #54
Thank you @belenbarrospena for arranging this! See you soon.

[2017-01-21 09:31] elioqoshi commented on #54
Hmm this will be tight for me as I might need to check into my hotel first, so it's better if you cancel for me and I might join you later just for a drink (if that's still ok)

[2017-01-22 16:45] jdittrich commented on #57
@jancborchardt ping us, let’s meet 14th/16th
@all: Anybody knowing a Berlin place with WiFi, not too crowded? Or we could ask co.up? Or just meet at Kotti and ```forEach(bars){(if bar.free== true){goIn(bar); break;}}```? (aka search for a place)

[2017-01-23 09:47] karypun commented on #54
Hi @belenbarrospena , I can't attend dinner now as I'm getting into Brussels later on Friday than anticipated.  If this is a problem, let me know. I'm terribly sorry.

[2017-01-23 09:53] belenbarrospena commented on #54
@elioqoshi @karypun no worries. Thanks for letting me know!

[2017-01-23 23:19] jancborchardt commented on #48
cc @victoria-bondarchuk on your question @linchocolatte :) She coordinates the Open Source Design track at FOSSASIA.

[2017-01-24 09:45] elioqoshi commented on #48
I think I will need to skip FOSSASIA this year. I need to take a break from international trips and wrap up my bachelor studies ;/
Sorry about that, see you at the next occassion!

[2017-01-24 11:04] elioqoshi commented on #57
Would you like to meet at the Mozilla Offices? I could hook you up with them?

[2017-01-24 14:57] evalica commented on #54
@belenbarrospena I'm bringing another friend, so it was 2 (me+1), now we will be 3 (me+2). Thanks!

[2017-01-24 17:19] jdittrich commented on #57
@elioqoshi nice idea! That would be great.

[2017-01-25 09:36] belenbarrospena commented on #54
@evalica thanks for letting me know! I will email the restaurant. I hope this is the last change: I'd say they hate my guts by now ;)

[2017-01-25 14:46] victoria-bondarchuk commented on #48
Hello @linchocolatte, are you interested to give a talk? Even though submission deadline is over, link is still open and you can give it a try:  2017.fossasia.org/speaker-registration

Track Hosts and Volunteer Registration to FOSSASIA 2017
http://2017.fossasia.org/volunteers

About FOSSASIA:
http://2017.fossasia.org/
http://blog.fossasia.org

[2017-01-25 14:47] victoria-bondarchuk commented on #48
@elioqoshi Sure, may be next year, hopefully FOSSASIA will be even better by 2018. See you at FOSDEM!

[2017-01-25 14:50] linchocolatte commented on #48
@victoria-bondarchuk omg I'm not sure if I am qualified enough to give a talk D: Maybe we can discuss more first to see if my project suits the event? It is a design project related to open-source design! (:

[2017-01-27 12:46] elioqoshi commented on #57
When is your next meeting? Let me try to get this going for next time

[2017-01-30 09:46] victoria-bondarchuk commented on #48
@linchocolatte OSD community and FOSSASIA are definitely the places where you should share your work related to open design design ;)

[2017-01-30 09:56] linchocolatte commented on #48
@victoria-bondarchuk Thanks Victoria! (: I've submitted a proposal via the link, waiting for any responses/replies!

[2017-02-04 18:18] ei8fdb opened #62 "FOSDEM 2018 dinner"
Making sure we have it ready for next year #64 ;)

Should we make it a tradition and have it in Kokob every year?

[2017-02-04 18:19] ei8fdb commented on #54
Can I have the honour of closing the "FOSDEM'17 dinner" issue?

It was lovely everyone! Thank you.

#62 opened in preparation for next years! :)

[2017-02-04 18:19] #54 closed, assigned to nobody

[2017-02-06 12:07] raghunayyar opened #63 "FOSDEM 2017 Group Pictures"
![dsc_1709](https://cloud.githubusercontent.com/assets/992488/22646535/2fc1b134-ec6d-11e6-88d0-ded86ff3902d.JPG)
![dsc_1710](https://cloud.githubusercontent.com/assets/992488/22646536/2fc1cda4-ec6d-11e6-9c7b-4569c8a65d73.JPG)
![dsc_1711](https://cloud.githubusercontent.com/assets/992488/22646537/2fc3f3c2-ec6d-11e6-9eca-d18fd010d324.JPG)

@opensourcedesign/people here we go boys and girls.

[2017-02-06 12:20] raghunayyar commented on #63
If you guys took pictures, attach them here.

[2017-02-06 13:06] bnvk commented on #63
There is about 200% more people in this picture than last year. Awesome :)
So sad to have missed it this year!

[2017-02-06 13:32] objectadjective commented on #63
These are fantastic. Really hoping I can make it out next year!

...........................

Jeremy Anderson

Github: https://github.com/objectadjective
Twitter: https://twitter.com/ObjectAdjective
LinkedIn: http://www.linkedin.com/in/objectadjective

On 6 February 2017 at 05:06, Brennan Novak <notifications@github.com> wrote:

[2017-02-06 16:05] evalica commented on #63
Very nice picture. We shoul add it as Twitter banner

[2017-02-06 20:20] ei8fdb commented on #63
I can hear the words "PIXEL FUSKERS"!!

Thanks @raghunayyar you've given me my newest phrase. I'll be using it in work. :)

[2017-02-06 20:49] ei8fdb opened #64 "FOSDEM 2018 Open Source Design organisation"
I am copying @evalica's great list from this year's preparation thread, and replicating it here. Yes, I'm being presumptuous, but hea...I'm positive!

---------

## 2018 FOSDEM guidelines/tasks

- [x] Submit [**proposal**](https://submission.fosdem.org/devroom.php) for Developer Room on Fosdem.org | [example](https://github.com/opensourcedesign/events/issues/41#issuecomment-241662291) | [Deadline]

[2017-02-06 21:03] belenbarrospena commented on #63
Cool photos! Boy: I had so much fun this year :)

[2017-02-06 22:59] ei8fdb opened #65 "My FOSDEM 2017 notes - the good, the awesome, and the excellent!"
I was making some notes over the weekend a

## Providing sound for speakers
Leonié Watson needed to have sound for her screen reader. I think we should ask speakers if they need sound, for example for a11y related talks. If any say yes, we bring speakers for them.
Alternatively, we bring a set of speakers just in case.

I'd prefer we ask speakers if they need audio. Thoughts?

## Powar strip!
We h

[2017-02-07 08:41] elioqoshi commented on #63
Love it! Great job folks!

[2017-02-07 10:10] belenbarrospena commented on #65
Somehow relevant to this issue: I believe feedback to the FOSDEM organisers can be sent to feedback@fosdem.org

[2017-02-08 23:19] eppfel commented on #41
This was splendid work everyone. Videos are up, so I guess we're done here.

[2017-02-08 23:19] #41 closed, assigned to evalica

[2017-02-09 16:04] raghunayyar opened #66 "FOSS North 2017 - Gothenburg"
@andreasn I think you should join! :)

[2017-02-09 22:15] andreasn commented on #66
http://foss-north.se/
I am actually helping organize that conference

[2017-02-10 13:57] raghunayyar commented on #66
Nice, I will meet you there. I submitted my proposal for a talk I gave at FOSDEM.
I am glad to see some initiative up north.

[2017-02-10 13:58] raghunayyar commented on #66
Also, since I live in Stockholm and the website is extremely unclear about the organisers part, let me know if you need my help.

[2017-02-11 18:10] simonv3 commented on #49
Bump for awareness that we have a meeting on Tuesday!

[2017-02-13 12:06] Incabell commented on #57
Hey everyone,

now that we've all had a weekend to digest the FOSDEM I suggest we have another go at the Berlin meet-up!

When are good times for everyone?
**My constraints are: not Tuesdays, not Thursdays**

Otherwise I'm open for any day.

Cheers
Charlie

[2017-02-14 11:58] jancborchardt commented on #49
Remember we have the call today! :)

I'll likely miss it though cause I am at a Nextcloud meetup :/

[2017-02-14 12:23] elioqoshi commented on #49
I will try to be there, the time today should work out for me!

[2017-02-14 13:52] jancborchardt commented on #57
I'll be in Berlin from February 20th – March 3rd, so could join any meetup happening then.

Am also happy for just coworking. :)

[2017-02-14 16:41] simonv3 commented on #49
# Meeting 4 (February 14th 2017)
Meeting: https://meet.jit.si/OpenSourceDesign
Participants: evalica, simonv3, Jan D, richlitt, Arul, Ryan Gorley, jdorfman

## Agenda:
* How was FOSDEM? What's next?
* Automated created issues for proposals, feedback for our job board entries: [jobs#139](https://github.com/opensourcedesign/jobs/issues/139)
* Design Feedback solution [organization#48](https://github

[2017-02-14 19:18] simonv3 commented on #43
What's the latest on this? Does someone need to submit the paperwork for becoming an Affiliate?

[2017-02-15 13:38] elioqoshi commented on #57
Just ping me if you want me to talk to the Mozilla Office to offer you some space :)

[2017-02-21 17:59] jancborchardt commented on #43
@massonpj considering that the OSI »keyhole« logo is used for exactly that already, widespread and well-known – would you not consider releasing it as an icon to mean open source, being open source itself (and then change the OSI logo)?

I do realize that this of course will be a hard change but if we would test what people see in the keyhole logo, I’d wager more people will think »open source« th

[2017-02-21 18:59] bnvk commented on #43
I'm a bit late to the discussion. Thanks @massonpj for inquiring with the "trademark folks" about OSD's logo. While ours was definitely inspired by OSI's as per our shared goals. Ethically speaking, OSI's conclusion and position on the mater is unfortunate. As per @elioqoshi point:

Both symbols have interesting and unusual (from traditional "logo" design) origin stories in that both anarchy's [Ci

[2017-03-02 12:17] bnvk commented on #43
@massonpj you probably also want to contact Noun Project to update the licensing on [this listing](https://thenounproject.com/iru/uploads/?i=8233) as I recently was reminded I had seen it (there) claiming the "open source" logo is in the public domain.

[2017-03-02 12:40] elioqoshi commented on #43
We need to reach consensus on this soon as this is a rather big blocker for us. @massonpj We would like to discuss this together, so please let us know if we can have a chat about a few options we can pursue?

[2017-03-02 12:55] evalica commented on #49
# Meeting 5 (March 7th 2017)
Meeting: https://meet.jit.si/OpenSourceDesign
Participants: jcb, jan dittrich, belen, elio, charlie, bernard, evalica

## Agenda:
* [Open Source Design Summit](https://github.com/opensourcedesign/organization/labels/summit)
* Logo and OSI [affiliation](https://github.com/opensourcedesign/organization/issues/53): [elio's ideas](https://matrix.org/_matrix/media/v1/downlo

[2017-03-02 13:38] ei8fdb commented on #43
Can we aim for this to be discussed on the monthly meeting, scheduled for the 7th?

That way we can aim for a large-ish attendance?

[2017-03-02 13:47] elioqoshi commented on #43
Yeah we definitely should. Let's add it to the agenda. @bnvk had some thoughts going forward [we discussed on IRC](https://botbot.me/freenode/opensourcedesign/2017-03-02/?msg=81815035)

[2017-03-02 22:48] massonpj commented on #43
@jancborchardt You are likely correct that most people think "open source" when they see the OSI's logo, and not "Open Source Initiative." However the OSI logo serves a broader and more important purpose, that of a certification mark. Organizations that attach the logo to software must distribute that software with an OSI approved license. All OSI approved licenses ensure software freedom--to use,

[2017-03-03 12:34] jancborchardt commented on #49
Just as info regarding @elioqoshi’s points in the link:

This has nothing to do with each other. Becoming an affiliate will change nothing about the necessity to change our logo. About the affiliate application, see https://github.com/opensourcedesign/organization/issues/53
I still think that OSI should open-source their logo and give it to the community. But just ignoring is not fair, especially

[2017-03-03 12:38] jancborchardt opened #67 "Open Source Design meetup at IFF"
Heya, so I’ll be at [Internet Freedom Festival in Valencia](https://internetfreedomfestival.org/) next week. Anyone else of you?

cc @belenbarrospena @ei8fdb @Xaviju @ameellio, or do you know anyone who will be there @victoria-bondarchuk @bnvk @evalica @simonv3 @eppfel?

We could organize a self-organized session as a meetup maybe? https://internetfreedomfestival.org/wiki/index.php/Self-Organized_

[2017-03-03 12:41] elioqoshi commented on #49
Ah, I got that wrong then.

Patrick Masson's last point made sense though so we have to weight our options. Changing our logo to a square instead of a circle would be fine for me. Let's discuss that in the call, Patrick said he would join as well.

[2017-03-03 12:46] belenbarrospena commented on #67
@ei8fdb and I are going. See you there!

[2017-03-03 12:47] ei8fdb commented on #67
@jancborchardt Baaah you should have told me before. Very glad to see that! We could have submitted a session!

Last year I was one of the design track curators with @ameellio. I submitted an "Intro to Open Source Design" session with @bnvk but no-one understood who we were! :P

Me and @belenbarrospena are doing some sessions there.

It is a good conference to get an intro to a niche area of an op

[2017-03-03 12:48] ei8fdb commented on #67
PS: yes lets organise a self-organised session. @belenbarrospena is there from Sunday-Tuesday and me til Wednesday.

[2017-03-03 12:55] Xaviju commented on #67
Oh I didn't know you were coming!! I'll be in Madrid 😢
Valencia its my hometown but sadly I am missing the event because we have a Taiga release next week.
Enjoy!

[2017-03-03 12:59] belenbarrospena commented on #67
totally off topic, but bear with me. @xaviju where is the best paella in
town? It's very hard to find the good places! :D

On Fri, Mar 3, 2017 at 12:55 PM, Xaviju <notifications@github.com> wrote:

[2017-03-03 13:06] danicatalan commented on #67
I will be there too!

@xaviju che, you are going to miss a good one :(

[2017-03-03 13:09] Xaviju commented on #67
@belenbarrospena my grandmother's paella is the best, no question. 😄

-------

If you have a car or enough time (bus) I recommend you [this place (out of town)](https://www.tripadvisor.com/Restaurant_Review-g187529-d3155486-Reviews-El_Redoli-Valencia_Province_of_Valencia_Valencian_Country.html)

If you'll stay in the city, I usually [go here](https://www.tripadvisor.com/Restaurant_Review-g187529-d

[2017-03-03 13:11] belenbarrospena commented on #67
Gracias @xaviju :) We will all drop by your grandmother's on Sunday :b

On Fri, Mar 3, 2017 at 1:09 PM, Xaviju <notifications@github.com> wrote:

[2017-03-03 13:12] ei8fdb commented on #67
@Xaviju Campeón! Gracias :)

So @danicatalan @belenbarrospena @jancborchardt and@anyoneelsegoingtoIFF2017 I feel an impromptu OSD meetup happening at a paella restaurant? :)

[2017-03-03 13:20] danicatalan commented on #67
Any grandmother's paella is the best :)

For me the best place is Descubre L'Horta, great paella and awesome local experience: https://www.tripadvisor.es/Attraction_Review-g187529-d3975725-Reviews-Descubre_L_Horta-Valencia_Province_of_Valencia_Valencian_Country.html

[2017-03-03 13:24] danicatalan commented on #67
@ei8fdb or maybe a OSD meetup happening in a Mascletà :)

[2017-03-03 13:40] saoun commented on #67
Heya,
I'm one of the fellows for the Communications & Design track at IFF. Hit me up if you have any questions!

[2017-03-07 11:43] jancborchardt opened #68 "OpenTechSummit Berlin-Potsdam, 25th May 2017"
On May 25th there will be [OpenTechSummit](http://opentechsummit.net/) in Berlin-Potsdam. I’m part of the organization team and there’s a track for Open Design & Libre Graphics.

The Call for Proposals has been extended until May 10: https://eventyay.com/e/5642d9a1/cfs/

cc @bnvk @Incabell @jdittrich @ScintillaLuz @Kriesse @gsambrotta @bbalazs @mrflix who are in Berlin and @elioqoshi who will also

[2017-03-07 11:45] elioqoshi commented on #68
Thanks @jancborchardt !

I applied with a Mozilla Open Design Talk and Workshop as well.
Is there a way we can help beyond submitting talks? Or should we get organized in a similar manner like FOSDEM?

[2017-03-07 13:55] Incabell commented on #68
I haven't talked to @jdittrich yet but I think we'll likely apply with a talk/workshop there as well.

Also for me, I would be glad to help with organisation or whatever else there is to do.

[2017-03-07 13:57] Incabell opened #69 "Open Source design meetup in Berlin"
Hey everyone!

I'm very excited to say that we finally managed to arrange the first open source design meetup in Berlin! \o/

It's going to be in the mozilla community space on March ~~15th~~ 17th at 7pm. Here's a [link ](https://www.meetup.com/Berlin-Mozilla-Meetup/events/238236462/)to the meetup page that Michael Henretty set up for us.

Is this something we should post on the opensourcedsign pa

[2017-03-07 15:55] bbalazs commented on #69
Is the meeting on the 15th (as the post says) or the 17th (as meetup claims)?

[2017-03-07 16:07] Incabell commented on #69
It's on the 17th. Sorry. I changed it in the original message.

[2017-03-07 18:38] jdittrich commented on #65
**Power**: Yes, general lack of sockets

**Accessibility**: Agree, in that regard, the room was terrible.

**Design clinic:** Could be fun, I would be open to volunteer there.

[2017-03-07 19:06] jancborchardt commented on #69
Can we get a link to http://opensourcedesign.net in the event on https://www.meetup.com/Berlin-Mozilla-Meetup/events/238236462/ and call it »Open Source Design« @mikehenrty :)

[2017-03-07 19:22] evalica commented on #49
# Meeting 6 (April 4th 2017)
Meeting: https://meet.jit.si/OpenSourceDesign

Meeting not held.

[2017-03-07 19:31] jancborchardt commented on #69
Btw, the old-schoolers @bnvk @danilapellicani @Kriesse @gillisig will know we already had an Open Source Design meetup in Berlin way back in early 2015. ;)
http://opensourcedesign.net/events/2015/03/15/berlin-open-source-design-meetup

[2017-03-07 19:33] mikehenrty commented on #69
Done! Let me know if you need anything else.

[2017-03-07 19:34] jancborchardt commented on #67
@saoun cool, I shot you a tweet, let’s meet tomorrow maybe? cc @danicatalan you around too?

Unfortunately @belenbarrospena and @ei8fdb couldn’t make it to IFF after all :(

[2017-03-07 19:36] jancborchardt commented on #49
Added the summary of our call at https://github.com/opensourcedesign/events/issues/49#issuecomment-283646202 ! :) Thanks everyone for attending

[2017-03-08 13:03] jancborchardt commented on #65
Yup, agree.

Yeah, or we ask FOSDEM organizers. In general then we should place the power strips in the middle of the rows or far away from the door so we make sure those people sitting with their laptops don’t block entrance for additional folks coming in. :)

This is a great call actually, yes. That way we can properly fill up the beginning and make sure the main people active in Open Source Des

[2017-03-08 13:08] jancborchardt commented on #69
@mikehenrty awesome, thank you! :)

At the meetup, @Incabell will also talk to you about the possibility of using the Mozilla event space as a venue for our planned Open Source Design Summit October 13–18 (on the Monday-Tuesday, if possible): https://github.com/opensourcedesign/organization/issues/59#issuecomment-284816966 – would be cool :)

[2017-03-08 13:15] evalica commented on #65
We could add more interactive sessions between talks, like brainstormings and discussions.
Things to consider:
- deciding what percentage we dedicate to this kind of sessions (30%?),
- if they should be separate (maybe in the other day then the track, maybe at the booth, or just at the summit) or inside the track,
- it depends also on the number of talks proposals we receive and how much we want t

[2017-03-08 18:44] massonpj commented on #49
Sorry @jancborchardt, clicked over here from [https://github.com/opensourcedesign/organization/issues/53#issuecomment-283941905]( https://github.com/opensourcedesign/organization/issues/53#issuecomment-283941905) but not sure where the notes are that you're referring too.

[2017-03-09 09:05] elioqoshi commented on #49
@massonpj They are at https://github.com/opensourcedesign/events/issues/49#issuecomment-283646202 :)

[2017-03-09 13:28] jancborchardt commented on #69
@Incabell @jdittrich can you also add it as an event to the opensourcedesign.net/events page? :)

[2017-03-09 13:42] Incabell commented on #69
@jancborchardt on it!

[2017-03-09 14:08] Incabell commented on #69
done, with just 1 minor embarrassing hiccup \o/

[2017-03-09 14:35] jancborchardt commented on #62
Kokob sounds good! They have great food, are pretty central, and lots of space. :)

[2017-03-09 14:36] jancborchardt commented on #69
@Incabell no worries! :D Next time best use a new branch + pull request for that, then it can be reviewed by others and hiccups can be avoided. :)

[2017-03-09 15:54] mikehenrty commented on #69
This sounds great! By that time, we will have moved to our new space at Schlesisches Tor, and will be able to accommodate many more people in our event space. Stuff like this is exactly why we are moving there, so this makes me happy 🕺

[2017-03-09 16:37] jancborchardt commented on #69
Now there’s also a tweet to spread the word:
https://twitter.com/opensrcdesign/status/839875262351360001

(@Incabell @jdittrich you are welcome to tweet from the account too, as said :)

@mikehenrty yeaaay! :)

[2017-03-11 23:52] jancborchardt commented on #57
Closing in favor of the Berlin meetup announcement issue :) https://github.com/opensourcedesign/events/issues/69

[2017-03-11 23:52] #57 closed, assigned to nobody

[2017-03-12 00:02] jancborchardt commented on #43
@massonpj thank you for your detailed reply! We’ll move on finding a new logo / branding in https://github.com/opensourcedesign/organization/issues/68 and becoming an OSI associate in https://github.com/opensourcedesign/organization/issues/53 :)

[2017-03-13 16:52] massonpj commented on #49
@elioqoshi I found a few comments and responded here: [https://github.com/opensourcedesign/organization/issues/53#issuecomment-285145655](https://github.com/opensourcedesign/organization/issues/53#issuecomment-285145655)

Is where you are referring?

[2017-03-13 22:24] elioqoshi commented on #49
Yes, that works, thanks so much! Will move over there

[2017-03-16 06:59] Xaviju commented on #67
Is this finished, how it was? Please share some posts or comments summarizing the event for those of us who missed it.

@jancborchardt should we close this?

[2017-03-17 10:18] jdittrich commented on #69
Here the tricky way to Mozillas Event space: https://docs.google.com/document/d/1bwI3ztOV4WRpg_xCy4etR7DJ2oL2UfltF2O8m6WwFFQ/edit
(could also be a game solution: Walk past the gate… pick up the mate… level completed. Cutscene to meetup)

[2017-03-17 19:43] massonpj commented on #49
BTW, it's not just you all that I am a jerk with... https://github.com/fossjobs/fossjobs/issues/12

[2017-03-18 10:31] jdittrich commented on #69
Here the etherpad link with the documentation https://etherpad.wikimedia.org/p/opensourcedesign170416

Current state:
Open Source Design Meetup Berlin, @Mozilla
17.03.17
Attendees: Jan D, Jan M, Peter, Heiko, Hernan, Charlie, Sam, Michael, Ettore, Amin, Tobias. Did I miss anybody?
https://www.meetup.com/de-DE/Berlin-Mozilla-Meetup/events/238236462/?eve
goals of this meeting (?):
- how can we build

[2017-03-19 23:23] raghunayyar commented on #66
Just confirmed that I am speaking at FOSS North, would be talking about Open Source Design. ^_^

[2017-03-28 09:20] evalica commented on #48
The event has passed. Closing the issue. Thanks @victoria-bondarchuk for organizing it!

[2017-03-28 09:20] #48 closed, assigned to nobody

[2017-03-28 09:34] jancborchardt commented on #48
Awesome work @victoria-bondarchuk! :tada:  :)

[2017-03-31 15:05] evalica commented on #66
@raghunayyar wdyt about having a PR to list the event on http://opensourcedesign.net/events/ ?

[2017-04-04 16:34] jancborchardt commented on #67
Yeah, it was a cool event! We had some design helpdesks with @ameellio @toberndo @teller @eff-soraya @gusandrews and more :)
https://twitter.com/ameellio/status/839834263637864448
https://twitter.com/jancborchardt/status/839487062755717121

[2017-04-04 16:34] #67 closed, assigned to nobody

[2017-04-04 19:24] jdittrich commented on #69
Next meetup coming on Thur April 20th, again at Mozilla; no specific time set yet, but I strongly assume it is 19:00 again :)
*Suggested Topic:* Starting a small, outcome oriented OSD experiement #76 – maybe the survey.

[2017-04-04 20:27] jancborchardt commented on #69
Yep, let’s simply use 19:00 as the standard time. :)

[2017-04-04 20:28] jancborchardt commented on #69
Yep, let’s simply use 19:00 as the standard time. :)

Also, I would suggest making the meetups action-oriented. Like working on the site, or preparing participation at a conference. Not just talking. ;)

[2017-04-05 07:16] jdittrich commented on #69
Thus, the suggestion to work on the survey. (btw.: I would think that having no focus or common graspable problem would be bad – talking itself I don't see as a problem)

[2017-04-06 10:18] raghunayyar commented on #66
@evalica done, here you go : https://github.com/opensourcedesign/events/pull/70

[2017-04-08 00:40] simonv3 commented on #49
Calendar of future events is here:

https://cloud.nextcloud.com/apps/calendar/public/MIFAFLFJADIVX63I

Thanks to @jancborchardt

(cc @grahamperrin)

[2017-04-09 05:56] grahamperrin commented on #49
Edited https://github.com/opensourcedesign/events/issues/49#issuecomment-283646202 above to refer to https://github.com/opensourcedesign/organization/issues/53 where a link to 53 was broken.

[2017-04-11 07:24] studiospring commented on #43
I'm late to the party, @massonpj but can I suggest a solution that takes in to consideration OSI's goals, the shared goals of all open source bodies and the perceptions (and misperceptions) regarding the various logos.

By adopting and modifying OSI's logo, organisations are unofficially affiliating themselves with OSI. The perception is that organisations with different, but similar logos are som

[2017-04-11 12:55] massonpj commented on #43
Thanks @studiospring for the suggestion, always happy to keep a party going! Your idea (Consent Agreements) was something that we did try, so it is obviously a good one! ;-) The most familiar example may be the [Open Source Hardware Association's logo](https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/Open-source-hardware-logo.svg/200px-Open-source-hardware-logo.svg.png) which the OSI appr

[2017-04-13 23:05] jancborchardt commented on #43
@massonpj happy to report that all our logos have now been changed to the interim square logo as proposed in https://github.com/opensourcedesign/organization/issues/68#issuecomment-293296056
![square](https://cloud.githubusercontent.com/assets/629552/24917183/013d3a86-1ee5-11e7-8ec6-4769fa7bf4dd.png)

- http://opensourcedesign.net
- https://twitter.com/opensrcdesign
- https://github.com/opensource

[2017-04-28 20:08] jancborchardt commented on #48
@victoria-bondarchuk @evalica is there any documentation of the track by the way? Any link to the program we can add to the event in the archive? :)

[2017-04-28 20:11] jancborchardt commented on #48
Ah the best link I found was http://2017.fossasia.org/tracks.html#2017-03-19-Design,_Art,_Community :)

[2017-05-02 17:16] eppfel commented on #49
# Meeting 7 (May ~~2nd~~ 3rd 2017)
Meeting: https://meet.jit.si/OpenSourceDesign

Postponed for ~~40 min (19:40 CET)~~ a day (03.May 19:00 CET), because of a flat tire... 🚲

### Agenda
- OSD Summit Venue?
   - Can @Incabell (or someone from Wikimedia) update on using Wikimedia on the weekend https://etherpad.wikimedia.org/p/opensourcedesign-summit
  - Can @elioqoshi update on using Mozilla on Mond

[2017-05-02 17:45] victoria-bondarchuk commented on #48
@jancborchardt there is also video from the conference:
1. [Expectations from Open Source Designers  by @evalica - FOSSASIA 2017
](https://youtu.be/3M9ptBxFyP4)
2. [ Usability testing based on user's mood by June Zhang (Beijing Redhat)](https://youtu.be/7bAmElZKzoM)
3. [Connecting design, culture, art, and technology across the archipelago](https://www.youtube.com/watch?v=IJE4I467JCw)

others talk

[2017-05-03 18:10] jancborchardt commented on #68
cc @jdittrich @bnvk @elioqoshi @Incabell @eppfel @simonv3 @guiguru @HeikoTietze @gsambrotta did you already apply? :)

Let me know what your talk is about, or update the original post above so we know who else is there. :) Then we can also create an event about it.

[2017-05-03 18:13] jancborchardt commented on #68
And please spread the word on Twitter: https://twitter.com/opensrcdesign/status/859833270309199878 :) (and elsewhere of course too)

[2017-05-03 18:14] ei8fdb commented on #49
(If I've missed something, or got something wrong: feel free to correct it!)

### Notes from 3 May 2017 meeting
In attendance today: @jancborchardt @jdittrich @simonv3 @ei8fdb @grahamperrin @evalica @belenbarrospena @ryangorley @eppfel
In attendance yesterday: @belenbarrospena @ei8fdb @eppfel @RichardLitt

## OSD Summit Venue?
   - We have an almost confirmation that we can use Wikimedia location

[2017-05-03 20:25] simonv3 commented on #49
Awesome, thanks for taking notes @ei8fdb!

[2017-05-03 23:10] simonv3 commented on #68
I still have to confirm travel situations, but I plan on being there :)

If anyone has a couch I can stay on for a couple of days that would be awesome!

[2017-05-04 05:51] Xaviju commented on #49
Thanks for the notes! Btw @simonv3 if you need a hand with the development of the landing page let me know. I'll be happy to help coding. :)

[2017-05-05 01:00] simonv3 commented on #49
@Xaviju that'd be great! I just created a branch for the page.

https://github.com/opensourcedesign/opensourcedesign.github.io/tree/summit

I don't really have any super big plans at the moment, happy to just let it grow as the summit evolves and becomes more firm.

[2017-05-06 12:53] HeikoTietze commented on #68
Tried to register but get an error on submit. My proposal is:

Title: Contextual groups in LibreOffice' Notebookbar
Short: The story behind LibreOffice' Notebookbars from a UX perspective will illustrate the need for requirements in Open Source Design.
Long: Toolbars are a common toolkit control that have been around since the dawn of GUI applications, providing direct access to an application's m

[2017-05-06 12:57] HeikoTietze commented on #68
Without comment and language it worked now. Draft is online at https://eventyay.com/events/mysessions/3616/

[2017-05-15 10:28] jancborchardt commented on #48
@victoria-bondarchuk awesome! Want to write a quick post about it with the links so we can publish it on the articles page? :)

cc @evalica @simonv3

[2017-05-15 11:02] jancborchardt commented on #69
@elioqoshi any news on organizing the meetup on the 26th after the OpenTechSummit? :)

[2017-05-15 12:10] victoria-bondarchuk commented on #48
@jancborchardt  Yes, I was planing. Let me work on it and share a draft in a week.

[2017-05-17 13:46] jancborchardt commented on #63
Opened a pull request to add the picture to the repository: https://github.com/opensourcedesign/opensourcedesign.github.io/pull/122 – please review. :)

Used the first one since it’s the best, we used it already, and it has everyone on there.

Closing hence :)

[2017-05-17 13:46] #63 closed, assigned to nobody

[2017-05-17 14:16] Xaviju opened #76 "Open Source Design Madrid meetup"
Hello world!

## We created the Open Source Design meetup in Madrid!
`<excitement>`Yay!!`</excitement>`

Our plans are to meet on **Wednesday 31rst May at 19:30**. There is a meetup page to join the event: [https://www.meetup.com/es-ES/Open-Source-Design-Madrid-Chapter/](https://www.meetup.com/es-ES/Open-Source-Design-Madrid-Chapter/ )

We are still looking looking for an awesome location for our

[2017-05-17 14:26] evalica commented on #76
Victoria goes 2 times :) Have fun!

[2017-05-18 12:50] jancborchardt commented on #69
Also come to our Open Source Design track at OpenTechSummit Berlin-Potsdam next week :)
https://twitter.com/opensrcdesign/status/865185759246077952

There’s free tickets as long as they last at https://eventyay.com/e/5642d9a1/?code=OPENDESIGN, and if you have last-minute talk proposals please let me know! @kriesse @Incabell @mrflix

[2017-05-18 12:55] jancborchardt commented on #48
@victoria-bondarchuk cool! :)

[2017-05-18 12:56] jancborchardt commented on #76
Great stuff! :) Have fun and let us know what you talked about or worked on! :)

[2017-05-20 07:46] elioqoshi commented on #69
@jancborchardt sorry for the delay, crazy even post-OSCAL. Yeah I asked Mike Henretty and still awaiting a reply. Assume it will happen, as I can take care of it as Mozilla staff

P.S: Will be at OpenTechSummit as well. Cya there

[2017-05-20 08:00] elioqoshi commented on #69
What time do you prefer? 5pm? 6pm?

[2017-05-22 11:56] jancborchardt commented on #69
As said above usually meetups are done at 7pm cause people are still at work earlier. :)

[2017-05-22 14:17] mikehenrty commented on #69
@elioqoshi sorry, I must have missed your ping! What would you need from me here? Unfortunately, I'll be out of the country on May 26th, but as staff you can host it yourself :)

[2017-05-23 11:29] simonv3 commented on #43
Just saw these and thought they would hella cool with a little OSD logo: https://twitter.com/PaszkiewiczRob/status/732957164613054466

[2017-06-01 07:24] #66 closed, assigned to nobody

[2017-06-01 07:48] jancborchardt commented on #66
@raghunayyar @andreasn can you write a quick article about the open source design stuff you did at the event? :) We can then publish it in our articles section. :)

Also, you should start a local meetup wherever you are in Sweden. :) Open a thread at https://discourse.opensourcedesign.net/c/meetups

[2017-06-01 13:53] bzz commented on #76
It's been great event, thank everyone who showed up and kudos @victoria-bondarchuk and  @Xaviju for effort kick-starting it Madrid!

Few things that we discussed below.

--------------

### What can we do together?
 - bring more designers
 - bring more projects
 - teach about open source

### Open questions rose though the discussion:
 - how to recruit more designers? More then half of the people

[2017-06-01 15:05] m1guelpf commented on #76
I hope to be able go to the next one!

[2017-06-01 18:38] jancborchardt commented on #76
@bzz @m1guelpf let’s guide the discussion to our Discourse into the local Madrid meetup thread: https://discourse.opensourcedesign.net/t/madrid-spain/164 :)

@bzz can you post the results there too and then close this thread? We should keep all the info in one place, and we should push our forum for discussion, since we use Github for working on specific parts of the website. :)

[2017-07-18 09:24] jancborchardt commented on #49
The notes from the last meeting are at:
https://discourse.opensourcedesign.net/t/setting-up-an-official-non-profit-organization/247

It was just Moritz and me talking about non-profit organization structures. :)

[2017-07-25 18:13] tessgadwa commented on #49
Has a time / date been set for the next call?  I remember seeing August 1
floating around somewhere.

Tess G.

artmeetscode.org

On Jul 18, 2017 2:24 AM, "Jan-Christoph Borchardt" <notifications@github.com>
wrote:

[2017-07-25 18:56] simonv3 commented on #49
Here's the listing for the next meeting: http://opensourcedesign.net/events/open-source-design-monthly-online-meeting/

Sadly I won't be near the internet. I feel like I've been missing a lot of these recently :(

[2017-07-25 19:01] tessgadwa commented on #49
Thanks for the info!  Sorry to miss you,  Simon.

On Jul 25, 2017 11:56 AM, "Simon" <notifications@github.com> wrote:

Here's the listing for the next meeting: http://opensourcedesign.net/
events/open-source-design-monthly-online-meeting/

Sadly I won't be near the internet. I feel like I've been missing a lot of
these recently :(

—
You are receiving this because you commented.

Reply to this ema

[2017-08-01 13:50] jancborchardt commented on #49
As a reminder, the next call is today! :)

And since we move to the forum more and more, I opened a thread about it at https://discourse.opensourcedesign.net/t/monthly-open-source-design-call/253 which we can use just like we did this one.

[2017-09-04 09:11] evalica commented on #68
Closing as this event passed.

[2017-09-04 09:11] #68 closed, assigned to jancborchardt, Incabell, elioqoshi

[2017-09-04 09:12] evalica commented on #69
can we close this event?

[2017-09-04 09:12] evalica commented on #76
can we close this event?

[2017-09-04 09:14] evalica commented on #52
According to the [Call for Participation 2017](https://www.fosdem.org/2018/news/2017-09-03-call-for-participation/) the deadline for Stands is 3 November. Who can handle the submission, organization, etc.?

[2017-09-04 09:28] evalica commented on #64
According to the [CFP](https://www.fosdem.org/2018/news/2017-09-03-call-for-participation/) and the [DevRoom](https://submission.fosdem.org/devroom.php) page the DEADLINE for DevRooms is **20 September**.
- Do we [want](https://twitter.com/Xaviju/status/899594631125639168) to participate in 2018? (It will be our fourth room in a row)
-- Who wants to handle the organization? We need at least 2 cont

[2017-09-04 09:38] Xaviju commented on #76
Yes

[2017-09-04 09:38] #76 closed, assigned to nobody

[2017-09-05 09:36] jancborchardt commented on #64
We should definitely participate again and not break our streak. :) I can help in the room as usual and also at a booth, but also need to make sure I’m available for the Nextcloud booth. And it would be great to get people involved more who didn’t organize the devroom so far. :)

A stand in addition would be quite nice also. If it’s close to the Nextcloud stand, it would be no problem for me to sw

[2017-09-05 09:54] belenbarrospena commented on #64
+1 for a new devroom

About the stand, I really would like to have a design clinic this year. That will give the stand some purpose, since we have very little swag and materials about the group.

I am happy to take on the logistics and happy to help with the devroom process as well.

Soooo exciting! :)

[2017-09-05 09:59] evalica commented on #64
Does someone know if the booth is for both days or just 1? It would be nice to have the booth in a different day than the DevRoom.

[2017-09-05 10:25] victoria-bondarchuk commented on #64
We should have a room for sure! Now when I'm in Europe, I would like to contribute as well. Please count on me!

[2017-09-05 12:16] belenbarrospena commented on #64
@evalica I believe booths must be the 2 days. I agree it would be easier to do it just during the non-devroom day, but on the other hand we might have nice "synergies" between both if they are happening at the same time, i.e people coming out of sessions and dropping by the design clinic to get some advice on their project.

We just need to make sure we are well organised so that we split ourselve

[2017-09-05 12:27] PanderMusubi commented on #64
May I suggest a clinic in Inkscape Open Symbols?

[2017-09-05 12:47] belenbarrospena commented on #64
@PanderMusubi Sure, anything. The way a clinic works is you drop by the desk, you bring up a topic you want to discuss with a designer, and you talk about it together. It's not supposed to solve the whole problem, just give high-level advice and some guidance on how to proceed.

If you were to come to me with the Inskcape Open Symbols, for example, I would probably look at them more from a usabili

[2017-09-05 17:53] evalica commented on #64
We can discuss/vote on the logo format in https://github.com/opensourcedesign/events/issues/43

[2017-09-05 18:03] jancborchardt commented on #43
Alright, so what do you all think about a sticker like this, as we use the logo in the header of our [Discourse forum](https://discourse.opensourcedesign.net/)? It’s not only the logo, so people know what it’s about, and it’s a nice format, not too wide. I’d go for 2x9 cm in size.

![](https://raw.githubusercontent.com/opensourcedesign/opensourcedesign.github.io/master/images/opensourcedesign-logo

[2017-09-05 18:07] tessgadwa commented on #43
I like that logo.

On Tue, Sep 5, 2017 at 11:03 AM, Jan-Christoph Borchardt <
notifications@github.com> wrote:

--

Tess Gadwa

Chief Executive Officer
_______________________________

Yes Exactly, Inc. | yesexactly.com | 413.325.8251

[2017-09-05 18:10] tessgadwa commented on #43
I also think it will be very helpful for fundraising and sponsorships if we
have a one-sheet or an agenda page on the website outlining what the summit
is and why it is important. Maybe wait another few days for topics info to
filter in, then try to draft this? I'd be happy to take a shot, with the
caveat that I'm not sure I have all the relevant information, and also I
have very little available

[2017-09-05 18:29] victoria-bondarchuk commented on #64
I would like to volunteer to be a main contact for the proposal this year (if anyone else wants, please speak up!) We need 2 contact people anyway, so if you feel like it lets do it together.
I aim to send proposal until Monday 11th, reusing previous [submission examples](https://github.com/opensourcedesign/events/issues/41#issuecomment-241662291).  I will post a draft here by tomorrow.
I'm also u

[2017-09-05 23:21] simonv3 commented on #43
Feel free to add data here: http://opensourcedesign.net/summit/!

[2017-09-06 02:02] tessgadwa commented on #43
@simonv3 via Github?

[2017-09-06 16:34] simonv3 commented on #43
If you want, the website is hosted here on GitHub: https://github.com/opensourcedesign/opensourcedesign.github.io. If you want to do a different design as well, that's completely up to you, I kind of quickly threw this together to at least have a page.

[2017-09-06 16:40] tessgadwa commented on #43
Good to know, thanks.

On Wed, Sep 6, 2017 at 9:34 AM, Simon <notifications@github.com> wrote:

--

Tess Gadwa

Chief Executive Officer
_______________________________

Yes Exactly, Inc. | yesexactly.com | 413.325.8251

[2017-09-06 16:54] jancborchardt commented on #76
@xaviju can you add the past event to our events list at https://github.com/opensourcedesign/events/tree/gh-pages/_posts :) Simply copypaste a post and change the details. It would be great if we could have all events there so people see we have a lot of activity. ;)

[2017-09-07 07:04] Xaviju commented on #76
@jancborchardt PR done :) https://github.com/opensourcedesign/events/pull/81

[2017-09-07 08:28] victoria-bondarchuk commented on #64
Here is slightly changed proposal draft from the last year application. Added remark about room accessibility.

Any comments, correction?
@belenbarrospena @ei8fdb @jancborchardt @Xaviju @bnvk @elioqoshi @simonv3 @jdittrich @gillisig @danilapellicani

**Project details**

**Title of devroom:**
Open Source Design

**Elaborate description of proposed devroom (including possible topics):**
After three

[2017-09-07 09:59] belenbarrospena commented on #64
@victoria-bondarchuk Thanks for putting together the proposal. This looks good to me. The only suggestion is, in the goals of the devroom, you could add "to increase awareness of user-centered design among the free and open source community"

About the secondary contact, I'd be happy to be added in

First name: Belen
Last name: Barros Pena
E-mail: belenbarrospena@gmail.com

@elioqoshi Unless you s

[2017-09-08 10:38] jancborchardt commented on #64
@victoria-bondarchuk @belenbarrospena aaawesome, thank you so much! :) Looks great

[2017-09-08 15:47] elioqoshi commented on #52
I'd be happy to facilitate the submission for a booth if we have enough capacity to fill it.

Can we do it at OSD Summit?

[2017-09-08 16:05] elioqoshi commented on #64
@victoria-bondarchuk looks great to me, thanks!

@belenbarrospena just saw it before replying to the stand thread. Please feel free to go ahead and let me know if I can help.

[2017-09-10 14:25] jancborchardt commented on #52
Since we have limited time at the Summit, I’d say just like we do the devroom submission remotely we should also do the booth submission before. It’s really something we can do online and don’t have to spend the valuable 2–4 days in-person time for. :)

[2017-09-12 09:09] victoria-bondarchuk commented on #64
The proposal has been submitted, accepted developer rooms will be announced on 2 October! Fingers crossed!

[2017-09-15 06:54] belenbarrospena commented on #52
@jancborchardt agreed. It's a simple form.

[2017-09-23 07:28] elioqoshi commented on #52
@belenbarrospena were you able to move forward with this?

[2017-09-23 07:42] belenbarrospena commented on #52
Not yet, no. Realised the deadline is not until November 3rd, so plenty of time still.

On 23 September 2017 08:28:35 BST, Elio Qoshi <notifications@github.com> wrote:

[2017-09-24 10:56] elioqoshi commented on #52
Ah okay, great then. Let me know if you need help.

[2017-10-03 23:20] victoria-bondarchuk commented on #64
Hurray! Our proposal was accepted! I will follow the checklist and make announcements on the website and call for participation in a few days!

[2017-10-09 09:15] belenbarrospena commented on #52
Hi all,

I've pasted below the application for our stand at FOSDEM. Deadline for submission is November 3rd, so plenty of time for everybody to read through and suggest changes.

I would need a couple of things to complete the application:

1. A link to the logo svg file. I think it used to be at [https://cloud.jancborchardt.net/s/opensourcedesignlogo](https://cloud.jancborchardt.net/s/opensourced

[2017-10-09 09:34] evalica commented on #52
We have the logos on the website repo. You can use https://github.com/opensourcedesign/opensourcedesign.github.io/blob/master/images/opensourcedesign-logo.png

[2017-10-09 09:35] belenbarrospena commented on #52
Silly me: I should have checked there.

Thanks @evalica !

[2017-10-09 09:35] evalica commented on #52
Number of chairs sounds a bit too much, considering they usually give like 1-2 per stand. If we have 2 more chairs, for a total of at least 4, I think it would be great.

[2017-10-09 09:39] belenbarrospena commented on #52
@evalica Agreed. I am not even sure we will fit 4 designers in a single table. But thought better not to be shy when asking, and see what we get ;)

[2017-10-09 09:41] evalica commented on #52
Belen, it looks great. Thanks for taking care of it. Hoping we will get a table.

Another mention we could have is to have the booth in a different day than the devroom, although I think the booth is for both days. We could mention that we are interested in having the booth just one day, but maybe we want for both :)

[2017-10-09 09:46] belenbarrospena commented on #52
@evalica yes, that is one of the main things we need to decide. Do we have capacity to run the clinic for both days? Or should we do only Saturday?

To be honest, I am not sure what the impact of doing just one day could be in our chances to get a stand. I think they are expected to be up for the 2 days. As far as I know, having a stand for just one day is unusual, but I could be wrong. Maybe @jan

[2017-10-09 11:10] evalica commented on #43
We have some funding for the stickers (see https://github.com/opensourcedesign/organization/issues/97#issuecomment-335115032) so we need to decide on what is the format we want to print them in. I will create individual comments for the sticker proposals, so cast a vote by using the comment's reactions.

[2017-10-09 11:11] evalica commented on #43
[Proposal 1](https://github.com/opensourcedesign/events/issues/43#issuecomment-327256486) by @jancborchardt
2x9 cm in size (black on transparent)
![](https://raw.githubusercontent.com/opensourcedesign/opensourcedesign.github.io/master/images/opensourcedesign-logo-text-narrow.png)
Source https://github.com/opensourcedesign/opensourcedesign.github.io/blob/master/images/opensourcedesign-logo-text-nar

[2017-10-09 11:12] evalica commented on #43
Proposal 2 by @jancborchardt
2x9 cm in size (white on transparent)
![](https://raw.githubusercontent.com/opensourcedesign/opensourcedesign.github.io/master/images/opensourcedesign-logo-text-narrow-inverted.png)
Source https://github.com/opensourcedesign/opensourcedesign.github.io/blob/master/images/opensourcedesign-logo-text-narrow-inverted.svg

[2017-10-09 11:14] evalica commented on #43
Proposal 3, just the logo
<a href="https://raw.githubusercontent.com/opensourcedesign/opensourcedesign.github.io/master/images/opensourcedesign-logo.png"><img src="https://raw.githubusercontent.com/opensourcedesign/opensourcedesign.github.io/master/images/opensourcedesign-logo.png" width="150px"></a>
Source https://github.com/opensourcedesign/opensourcedesign.github.io/blob/master/images/opensourc

[2017-10-09 11:20] evalica commented on #43
Proposal 4 by @elioqoshi
<a href="https://github.com/opensourcedesign/opensourcedesign.github.io/blob/master/images/summit/logo.svg"><img src="http://opensourcedesign.net/images/summit/logo.svg" width="250px"></a>
Source https://github.com/opensourcedesign/opensourcedesign.github.io/blob/master/images/summit/logo.svg

[2017-10-09 12:02] pdurbin commented on #52
Looks great @belenbarrospena . Thanks!

[2017-10-09 20:56] jancborchardt commented on #52
I would also think all stands are for both days. I’m not aware of any details, but I haven’t really seen an stand be only there for one day, and I assume it’s not possible.

The proposal looks good, and I guess we’re enough people to be able to both maintain the room and the booth. :) If everyone just helps out a little here and there for a few hours it’s all good.

[2017-10-10 08:50] belenbarrospena commented on #52
Maybe we should count how many of us we'll be. Could you +1 this post if you know you are coming to FOSDEM for sure?

Thanks!

[2017-10-10 19:36] jancborchardt commented on #43
I’ll look at getting proposal 1 printed, black on white though. (As proposal 3 is too cryptic for people who don’t know us yet, and proposal 4 is too specific to the summit. :)

[2017-10-11 16:04] belenbarrospena commented on #52
Excellent, so it looks like we have 6 people for sure attending FOSDEM:

@belenbarrospena
@evalica
@elioqoshi
@jancborchardt
@andreasn
@ei8fdb

I am assuming there is a good chance @victoria-bondarchuk will also be there.

This means we could have 3-4 people in the devroom on Sunday, and still have 2-3 people in the stand. @evalica : what do you think? Enough to manage two days for the stand? Sinc

[2017-10-11 23:33] jancborchardt commented on #52
@Incabell @jdittrich @bnvk @simonv3 @yoroy @dimitrieh @xuv @Xaviju @karmatosed will you also be at FOSDEM? :) And which other open source designers do you know who will be there who could help out and join our design devroom and booth? :)

[2017-10-12 00:16] jancborchardt commented on #43
Stickers are ordered for the Summit. For posters and small business-card-type flyers, see https://github.com/opensourcedesign/opensourcedesign.github.io/pull/129

[2017-10-12 08:52] evalica commented on #52
@belenbarrospena we'll manage somehow :) depends also on the location of the booth :) the only rule is not to leave the booth empty :)

[2017-10-12 09:00] belenbarrospena commented on #52
right: sounds we have reached some kind of agreement. I will submit it today.

[2017-10-12 10:48] belenbarrospena commented on #52
submitted!

[2017-10-12 10:57] Incabell commented on #52
@jancborchardt I will probably be there but since I can't guarantee it 100% I didn't want add myself to the list in the earlier comment.

[2017-10-13 11:53] jancborchardt commented on #43
Here’s the printed results! :)
![img_20171013_130711-edit](https://user-images.githubusercontent.com/925062/31544913-6b30ae04-b01d-11e7-8492-f02ca6a7aff2.jpg)
https://twitter.com/jancborchardt/status/918801054912929792

- Stickers as usual – very nice in tthe die-cut
- The posters are very useful for anything like wayfinding signs, putting up at conferences, taking home and putting on your wall, e

[2017-10-15 16:23] victoria-bondarchuk commented on #64
Hi everyone!

We have posted call for participation here: http://opensourcedesign.net/events/2018/02/04/opensourcedesign-fosdem-2018

Please promote!
@evalica @jancborchardt @simonv3 @jdittrich @belenbarrospena @dimitrieh @cameralibre @bnvk @ei8fdb @elioqoshi @blackkaaht @pdurbin @cameralibre @digitigrafo @pkruithofjr @h-nes @HeikoTietze @Kriesse @gillisig @Xaviju @gsambrotta @andreasn @qwazix @ep

[2017-10-15 17:50] belenbarrospena commented on #64
Wonderful! Don't forget to send it to the devroom organisers mailing list so that they know is out :)

On 15 October 2017 17:23:23 BST, Victoria Bondarchuk <notifications@github.com> wrote:

[2017-10-15 17:51] belenbarrospena commented on #64
LOL. Just saw the message on the mailing list. You are waaaaaay ahead of me :D

On 15 October 2017 17:23:23 BST, Victoria Bondarchuk <notifications@github.com> wrote:

[2017-10-22 14:55] ei8fdb commented on #64
Well done to everyone. I've been a bit quiet for a bit. See you all in Brussels for 2018.

[2017-10-23 08:21] victoria-bondarchuk commented on #64
@ei8fdb looking forward to seeing you, btw would you consider to give a talk? @belenbarrospena would be great to hear about your academic research? Apply for a talk!

[2017-10-24 09:26] belenbarrospena commented on #64
My goal is, like every year, not to present! :) Having said that, if we are
short on proposals, I will try and think of something.

Cheers,

Belén

On 23 October 2017 at 09:21, Victoria Bondarchuk <notifications@github.com>
wrote:

[2017-10-24 09:29] ei8fdb commented on #64
@victoria-bondarchuk I can try. If I can get organised!

[2017-11-06 13:16] dimitrieh commented on #64
I have to see if I can be there, will have facts on that soon. No tickets needed right?

[2017-11-06 13:40] victoria-bondarchuk commented on #64
@dimitrieh  yes, no tickets are needed. Would be really great if someone from GitLab would give a talk on open design process or user research. Open Source Design devroom at FOSDEM usually has the most engaged audience!
CfP is open until 1 of December: https://discourse.opensourcedesign.net/t/call-for-participation-open-source-design-devroom-at-fosdem-2018/363

[2017-11-06 13:55] dimitrieh commented on #64
cool stuff, when I know more, will come back to this!

[2017-11-10 21:33] elioqoshi commented on #64
@dimitrieh would be great to see you there again!

@victoria-bondarchuk and co: will we extend the deadline? 1st December seems pretty early.
I am writing a blog post and promote this a bit on our Ura channels in the meantime

[2017-11-10 21:44] victoria-bondarchuk commented on #64
@elioqoshi as far as I remember we did extend it last year, but not for long, we have to complete schedule by 15 of December anyway. So far we have 3 submissions on the system and one suggestion from the members on the forum. Please share the link once you write a post!

[2017-11-11 00:05] jancborchardt commented on #64
I'd say to keep the deadline for now and only extend it once we reach it. Cause usually people hand in submissions during the last days anyway, so we shouldn't extend too early. ;)

[2017-11-29 23:03] dimitrieh commented on #64
I'll be attending Fosdem 2018 and have submitted a talk for GitLab. A colleague of mine from UX research has submitted a talk for UX research as well! :)

[2017-11-30 09:29] digitigrafo commented on #64
I also proposed for the OSD room:

**Case Studies of Discussion Platforms**
:)

[2017-12-01 14:22] victoria-bondarchuk commented on #64
Hi everyone,
I'm suggesting to extend the deadline till 7th of December. What do you think? We will have more than a week to vote on submissions.

[2017-12-01 18:10] jancborchardt commented on #64
@victoria-bondarchuk yup, seems ok, especially as now many submitted so close to the deadline. :) Let's announce the extension tomorrow?
Also, how many proposals do we have in? Last year we had roughly 16 sessions and we should think about only starting at 10:00 (having maybe 30mins welcome session before) cause usually before it's empty.

[2017-12-06 10:15] belenbarrospena commented on #52
Our stand has been accepted for FOSDEM'18. We will be in level 1 of the K building. Congratulations to us all!! :)

The point of the stand is to run a design clinic, which means we'll need 2 to 3 people in the stand at any given time. Looking at the posts above, these are the people attending FOSDEM so far (in no particular order):

@evalica
@elioqoshi
@jancborchardt
@andreasn
@ei8fdb
@victoria-bo

[2017-12-06 10:38] HeikoTietze commented on #52
Will be around as well but likely have no time for the OSD booth. Nevertheless looking forward some talks.

[2017-12-06 10:38] evalica commented on #52
Hi Belen! This is great news! Do we have the stand for both days?
I think it's a bit early to tell the availability, since the schedules are not in. I need also to be at the XWiki table. I estimate I can stay between 2-4 hours at our table.

[2017-12-06 10:48] belenbarrospena commented on #52
@evalica yes, stand is for both days. 2-4 hours sounds good. Thanks!

[2017-12-06 18:58] tessgadwa commented on #52
Hi, I should be available to be at the stand for at least some of the time.

[2017-12-07 12:04] belenbarrospena commented on #52
@tessgadwa Great. Thanks! :) I'll add you to the list

[2017-12-08 10:46] elioqoshi commented on #52
The whole Ura team will be at FOSDEM and each of us will be able to stay for at a few hours ideally (but we need to check whether we are needed somewhere else too).

cc @AnXh3L0 @borisbudini @silvaarapi @rskikuli

[2017-12-08 20:55] victoria-bondarchuk commented on #49
Would be great to have a call for FOSDEM preparation.  @jancborchardt  what do you think?

# Meeting  (December 12 2017)
Meeting: https://meet.jit.si/OpenSourceDesign

### Agenda
 - FOSDEM TALKS
   - Discuss/decide on the final sessions
   - Who can help in the devroom: twitting, helping at the door, etc
- FOSDEM BOTH
   -Shall we have a schedule?
- FOSDEM DINNER
  - Who can help organizing it

[2017-12-08 21:09] victoria-bondarchuk commented on #64
## Proposals Status

Today is CfP deadline. Thanks everyone, who promoted the event and submitted talks!
We have 22 proposals, see spreadsheet [here](https://docs.google.com/spreadsheets/d/14o3tHnAO19Q8WPBdJs7PaolMX09oG_4msDUcYW3-s7o/edit?usp=sharing). I reused the same format, proposed by @evalica, as well as copied last year voting rules below.

**VOTE DEADLINE**
December 13

**HOW TO VOTE**
You

[2017-12-09 15:13] dimitrieh commented on #49
@jancborchardt Is there a public (google) calendar I can follow/import into my own calendar for open source design events and the monthly calls?

[2017-12-09 17:55] simonv3 commented on #49
@dimitrieh jan links to it earlier in the thread: https://github.com/opensourcedesign/events/issues/49#issuecomment-267208684

Edit: I've made the link in the first post a bit more explicit.

[2017-12-09 21:55] evalica commented on #49
There is a public calendar, but apparently the meetings have been put on hold. Would be great the revitalize them, as Victoria suggested, especially since we need to organize FOSDEM.

[2017-12-09 21:56] evalica commented on #49
@victoria-bondarchuk what time?

[2017-12-09 22:02] victoria-bondarchuk commented on #49
Shall we do it the same time at 7pm CET? @evalica

[2017-12-09 23:02] victoria-bondarchuk commented on #49
one more possible topic to discuss is how to make vote process more secure and if there any open tool we could use for that purpose in the future?

[2017-12-10 16:51] dimitrieh commented on #49
thanks @simonv3 ! although i checked that link out before and now and can't find any content within that calendar :s

[2017-12-11 00:11] simonv3 commented on #49
It's very possible that @jancborchardt didn't create events this far in advance :P

[2017-12-11 09:16] belenbarrospena commented on #52
Excellent! Thanks @elioqoshi

I will add the Ura crowd to the list.

[2017-12-11 09:23] belenbarrospena commented on #64
@victoria-bondarchuk had a quick look to the content in penta and the spreadsheet, and everything looks good to me.

Everybody! Peer review is important for content quality, so please read through the proposals and cast your votes!! :)

[2017-12-11 16:16] jancborchardt commented on #52
@belenbarrospena currently on the booths page it is linked to our Github:https://fosdem.org/2018/stands/ could we have that changed to http://opensourcedesign.net/ ? :)

[2017-12-11 19:53] dimitrieh commented on #49
@simonv3 ahh.. as I was mainly in for it for future events :) like recurring event reminders for monthly calls and have events upcoming 3 months always up to date (perhaps update it at the start of each months meeting)

[2017-12-11 23:05] jancborchardt commented on #49
Yep, that’s exactly it. :) I added things in the calendar up until the Summit. Added the call for Tuesday (basically today) at our usual time of 19:00 CEST (Berlin time).

We need to find a better way to do this, maybe by having a calendar widget like https://fullcalendar.io on our event page which simply shows all events from the list – and we add every call as event too. :)

[2017-12-11 23:28] dimitrieh commented on #49
Perhaps feature this ics link on the website as well :) easy to find! single source of truth

[2017-12-12 18:18] valessiobrito opened #95 "LGM 2018 - Libre Graphics Meeting"
Inviting volunteers to help organize, get support, get involved with the organization or participation.

More info: http://libregraphicsmeeting.org/2018/2018-edition/

[2017-12-13 10:43] belenbarrospena commented on #52
@jancborchardt I'll ask :)

[2017-12-13 10:49] belenbarrospena commented on #52
And one question for those who attended the Summit in Berlin: any swag left? Posters, stickers, etc?

Could we give them away in the stand? Can we order more for FOSDEM?

[2017-12-13 10:51] belenbarrospena commented on #49
Yikes, completely forgot about the call yesterday :( I hope it went well.

[2017-12-13 10:55] evalica commented on #52
@belenbarrospena We talked about this last night, at the meeting. There is some swag left, but @jancborchardt will order more, in order to have everything for FOSDEM. He mentioned (from what I remember) 1000 stickers, ? "looking for design..." cards, 2-3 posters.

[2017-12-13 10:56] victoria-bondarchuk commented on #49
@belenbarrospena we discussed voting and acceptance process. We've scheduled one more for 9th of January, maybe it could be a good opportunity to discuss in more details Both preparation and other practicalities for FOSDEM

[2017-12-13 11:04] belenbarrospena commented on #52
Wondrous! You people are always on top of things :)

Sorry I missed the meeting yesterday: completely forgot about it :/

[2017-12-13 15:00] jancborchardt commented on #95
Hey @valessiobrito! :) To have this event properly listed on http://opensourcedesign.net/events/, could you add it to the website?

For that simply go to https://github.com/opensourcedesign/events/tree/master/_posts, copy the existing LGM event from 2016, and adjust the details and name in the new file. :) Submit it as a pull request and we can review. Thanks!

[2017-12-13 15:23] jancborchardt commented on #69
@evalica yeah, I would say we can close this in favor of the forum thread at https://discourse.opensourcedesign.net/t/berlin-germany/97 – in the Local meetups category there’s also other active groups. :)

@jdittrich do you maybe want to craft an article for our website out of what you wrote at https://github.com/opensourcedesign/events/issues/69#issuecomment-287533824 ? :)

[2017-12-13 15:23] #69 closed, assigned to nobody

[2017-12-19 22:07] victoria-bondarchuk commented on #64
## Proposals Status

[12 submissions were accepted](https://docs.google.com/spreadsheets/d/14o3tHnAO19Q8WPBdJs7PaolMX09oG_4msDUcYW3-s7o/edit#gid=91128727), based on the [vote results](https://docs.google.com/spreadsheets/d/14o3tHnAO19Q8WPBdJs7PaolMX09oG_4msDUcYW3-s7o/edit#gid=905844715). However, 2 people couldn't confirm their participation, so additional two talks were accepted to fill the sched

[2017-12-19 22:35] tessgadwa commented on #64
Ok, well, you'll be hearing from me on #9 -- the pitch portion of the
event. http://lotuspetalarchitecture.com wants your attention!

Looking forward to being at FOSDEM this year.

Tess Gadwa

On Tue, Dec 19, 2017 at 2:07 PM, Victoria Bondarchuk <
notifications@github.com> wrote:

[2018-01-09 15:47] belenbarrospena commented on #52
Hi all,

I won't manage the call today (Tuesday evenings are not a very good day for me), but I wanted to write a few things about the stand.

Setup is from Saturday at 09:00 and we should be done by 16:00 to 16:30 on Sunday. Me and @ei8fdb will be setting up and wrapping up, although you are all of course welcome to help. Our stand is on the Level 1 of the K building (part of stands group C).

Th

[2018-01-09 16:04] evalica commented on #52
Hi @belenbarrospena the times are not quite right so maybe you can fix that for the Doodle pool (SAT starts at 12 PM until 08 PM; Sun from 12 PM to 6 PM - check what time zone has been set and maybe put it for Brussels). Thanks for creating the Doodle.

[2018-01-09 16:28] evalica commented on #52
Actually it can be manually changed from top, just be careful when agreeing on the time frame :)

[2018-01-09 16:34] belenbarrospena commented on #52
Mmm, weird. Times look right for me :/  Time zone selected is GMT (London).

I will try and change it when I get to a computer.

On 9 January 2018 16:28:55 GMT+00:00, "Ecaterina Moraru (Valica)" <notifications@github.com> wrote:

[2018-01-09 16:37] jancborchardt commented on #52
And regarding the design clinic part it’s also important to not get overloaded by people there. :) If more help is necessary, asking them to open a job on our [Open Source Design job board](http://opensourcedesign.net/jobs/) is best. Because there will be loads of people at FOSDEM, and generally people don’t hang out suuperlong at the stands.

[2018-01-10 09:18] belenbarrospena commented on #52
@evalica Doodle seems to block changes to the time zone once there are answers in the poll, so I can't change the time zone to GMT+1 :(

For clarity, these are the stand shifts:

Saturday 3rd Feb 10:00 - 12:00
Saturday 3rd Feb 12:00 - 14:00
Saturday 3rd Feb 14:00 - 16:00
Saturday 3rd Feb 16:00 - 18:00
Sunday 4th Feb 10:00 - 12:00
Sunday 4th Feb 12:00 - 14:00
Sunday 4th Feb 14:00 - 16:00

I hope th

[2018-01-10 15:42] jancborchardt commented on #52
@belenbarrospena ok, in that case I can not take the slot of

that I’m assigned to as I have my talk then. ;)

The slot after it would be good, 14:00 – 16:00 works. (Same as on Saturday)

[2018-01-10 15:44] elioqoshi commented on #52
@marianaballa will be instead of @silvaarapi eventually (we need to check her time commitment as she is with the Fedora project as well).

@AnXh3L0 will be able to help out 1-2 hours every day as well.

We need a bit more time to check out shifts as well.